@model DAL_Data_Access_Layer_.CustomeModel.PatientDashboard;

@{
    ViewData["Title"] = "Submit Request Page";
}

@{
    string[] Enum = { "Unassigned", "Accepted" , "Cancelled" , "Reserving" , "MDEnRoute" , "MDOnSite" ,
                "FollowUp" , "Closed" , "Locked" , "Declined" , "Consult" , "Clear" , "CancelledByProvider" ,
                "CUploadedByClient" , "CCApprovedByAdmin"  };
}

<h4 class="medical-text mt-5">Medical History</h4>
<div class="createreq">
    <button type="button" class="btn ms-auto createnewreq" data-bs-toggle="modal"
            data-bs-target="#newRequestModal">
        <Span class=" d-none d-sm-block">
            Create New
            Request
        </Span><i class="fa-solid fa-plus bi bi-plus-lg d-block d-sm-none"></i>
    </button>
    <!-- Modal -->
    <div class="modal fade " id="newRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="background:skyblue;">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Request</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    Here , i want to Create new Request for..
                    <div class="mt-3">
                        <button type="button" class="btn" id="firstBtn" onclick="meId(0)"><span>Me</span></button>
                        <button type="button" class="btn" id="secondBtn" onclick="meId(1)"><span>Some one else</span></button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn " onclick="redirectPage()" style="background:skyblue;">Continue</button>
                    <button type="button" class="btn "
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
 <div class="d-none d-sm-block">

    <table class="table data_table " style="background:white;">

        <thead class="table-active">
            <tr >
                <th scope="col" >Created Date</th>
                <th scope="col">Current Status</th>
                <th scope="col">Document</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.data)

            {
                <tr >
                    <td>
                        @item.created_date.Day
                        @item.created_date.ToString("MMM")
                        @item.created_date.Year
                    </td>
                    <td>@Enum[(int)item.req_type_id]</td>
                    @if(@item.doc_Count > 0){
                    <td>
                            <button type="button" class="btn documents " style="width:9em;float:left;"  onclick="location.href='@Url.Action("viewDetail","patientDashboard",new {
                            param = item.reqid})' ">
                            <span>(@item.doc_Count) Documents</span>
                            <i class="bi bi-plus-lg d-block d-md-none"></i>
                        </button>
                    </td>
                    }
                    
                </tr>
            }
        </tbody>
    </table>
</div> 
@* @foreach(var item in Model.data)
{
    <div class="accordion accordion-flush d-block d-sm-none" id="accordionFlushExample">
        @{
            var myid = 
        }
        <div class="accordion-item" id="@myid">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                        aria-controls="flush-collapseOne">
                    Created Date:  @item.created_date.Day
                                    @item.created_date.ToString("MMM")
                                    @item.created_date.Year
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                   <div>
                        <i class="fa-solid fa-user me-2"></i><span>@item.phy_fname</span>
                        
                   </div>
                   <div>
                        <i class="fa-solid fa-check me-2"></i><span>@Enum[(int)item.req_type_id]</span>
                   </div>
                </div>
            </div>
        </div>
    </div>

}

 *@
<div class="accordion accordion-flush d-block d-sm-none" id="accordionFlushExample">


    @{
        var count = 0;

      @foreach (var item in Model.data)
        {
            var myidheader = "item" + count;
            var myidbody = "itembody" + count;
            count += 1;
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="@myidheader">
                                                   <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#@myidbody" aria-expanded="false"
                                                           aria-controls="flush-collapseOne">
                                                       Created Date:  @item.created_date.Day
                                                       @item.created_date.ToString("MMM")
                                                       @item.created_date.Year
                                                   </button>
                                               </h2>
                                               <div id="@myidbody" class="accordion-collapse collapse"
                                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                   <div class="accordion-body">
                                                       <div>
                                                           <i class="fa-solid fa-user me-2"></i><span>@item.phy_fname</span>

                                                       </div>
                                                       <div>
                                                           <i class="fa-solid fa-check me-2"></i><span>@Enum[(int)item.req_type_id]</span>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>

}
}

</div>

<link rel="stylesheet" href="/css/patientDashboard.css">


<script>

  
    var links = document.querySelectorAll('.links');
    links.forEach(link => {
        link.addEventListener("click", function () {
            links.forEach(link => link.classList.remove('active'));
            this.classList.add('active');
        })
    })

    function redirectToDetail(value) {
        var url = '/PatientDashboard/ViewDetail?param=' + encodeURIComponent(value);
        document.location = url;
    }

    let forRequestId;
    let a = document.getElementById("firstBtn")
    let b = document.getElementById("secondBtn")
   
    function meId(id) {
        forRequestId = id;
        if (forRequestId == 0) {
            a.style.backgroundColor = "skyblue";
            b.style.backgroundColor = "white"
        } else if (forRequestId == 1) {
            b.style.backgroundColor = "skyblue"
            a.style.backgroundColor = "white"
        }
    }


    function redirectPage() {
        if (forRequestId == 0) {
            location.href = '@Url.Action("dashboardMeView","patientDashboard")';
        } else if (forRequestId == 1) {
            location.href = '@Url.Action("dashboardSomeOneView","patientDashboard")';
        }
    }

</script>
