@model DAL_Data_Access_Layer_.CustomeModel.adminDashData


@* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"> *@
@* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />  *@
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />


<div class="tab-pane fade show active" id="new-tab-pane" role="tabpanel" aria-labelledby="new-tab"
     tabindex="0">

    <div class="my-4" id="patients_flex_box">
        <span id="patient_txt">
            Patients <span id="patient_sub">(New)</span>
        </span>

        <span id="patiens_five-link-mediaquerry" style="display:flex;" class="mt-3">
            <button onclick="newSendLinkInActive()" class="btn btn-info patient_five_button mx-1 " role="button">
                <i class="bi bi-send"></i>
                <span>
                    Send link
                </span>
            </button>
            <button onclick="createRequestActive()" class="btn btn-info patient_five_button  mx-1" role="button">
                <i class="bi bi-pencil-square"></i>
                <span>
                    create request
                </span>
            </button>
        </span>
    </div>
    <div class="mt-2 mb-2 container-fluid" style="box-shadow: 0px 0px 5px grey;">

        <div class="container-fluid p-0">
            <div id="tablehead-container">

                <div id="tablehead-left">
                    <div class="d-sm-flex gap-1">
                        <form role="search" class="bg-light d-flex align-items-center border border-rounded rounded mb-2">
                            <!-- <i class="bi bi-search"></i> -->
                            <i type="search" class="fa-solid fa-magnifying-glass px-2" style="color:#adadad;position:absolute;"></i>
                            <input class="form-control border-0" id="my-search-input" type="search" placeholder="Search" aria-label="Search">
                        </form>
                        <select id="regionFilterActive" onchange="regionClickActive()" class="form-select d-none mb-2" aria-label="Default select example">
                            <option id="reason" disabled selected="">
                                Select Regions
                            </option>
                            <option value="0">
                                All Regions
                            </option>
                            @foreach (var item in Model._RegionTable)
                            {
                                <option value="@item.Regionid">@item.Name</option>
                            }
                        </select>
                    </div>

                </div>
                <span id="tablehead-right">
                    <span class="table_head_five" id="all" type="button" onclick="tableFilter1(0)" style="cursor:pointer">
                        All
                    </span>
                    <span class="table_head_five" onclick="tableFilter1(1)" style="cursor:pointer">

                        <span class="patient_circle"></span>
                        <span>
                            Patients
                        </span>
                    </span>
                    <span class="table_head_five" onclick="tableFilter1(2)" style="cursor:pointer">

                        <span class="family_circle"></span>

                        <span>
                            Family/Friends
                        </span>
                    </span>
                    <span class="table_head_five" onclick="tableFilter1(4)" style="cursor:pointer">

                        <span class="Bussiness_circle"></span>
                        <span>
                            Bussiness
                        </span>
                    </span>
                    <span class="table_head_five" onclick="tableFilter1(3)" style="cursor:pointer">

                        <span class="Concierge_circle"></span>

                        <span>
                            Concierge
                        </span>
                    </span>
                </span>
            </div>
        </div>

        <div id="table_tabview">

            <div class="table-responsive" id="tableParentDiv">
                @if (Model.data.Count() > 0)
                {
                    <table class="table" id="tableDataMain">
                        <thead id="table-heading">
                            <tr>
                                <th scope="col" class="dark-mode2 ">Name</th>
                                <th scope="col" class="dark-mode2 ">Phone</th>
                                <th scope="col" class="dark-mode2 ">Address</th>
                                <th scope="col" class="dark-mode2 ">Chat With</th>
                                <th scope="col" class="dark-mode2 ">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tabledata">

                            @foreach (var item in Model.data)
                            {

                                var bgColor = "He";
                                var role = "hello";

                                @if (item.request_type_id == 1)
                                {
                                    bgColor = "#60be5e";
                                    role = "Patient";
                                }
                                else if (item.request_type_id == 2)
                                {
                                    bgColor = "#e69232";
                                    role = "FamilyFriend";
                                }
                                else if (item.request_type_id == 3)
                                {
                                    bgColor = "#0b7ebf";
                                    role = "Concierge";
                                }
                                else if (item.request_type_id == 4)
                                {
                                    bgColor = "#d76879";
                                    role = "Business";
                                }

                                <tr class="tablerows @role">
                                    <td style="background:@bgColor">
                                        <div class="table_name_email ps-1">

                                            @item.first_name, @item.last_name
                                            <a href="">
                                                <i class="bi bi-envelope me-5 text-white rounded-5 border p-1 text-info border-white"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td style="background:@bgColor">
                                        <div class="table_phone">
                                            <a href="">
                                                <i class="bi bi-telephone text-white  rounded-5   p-1 text-info border-white"></i>
                                                @item.mobile_num
                                            </a>
                                        </div>
                                        <div>
                                            (Patient)
                                        </div>
                                        @if (item.request_type_id != 1)
                                        {
                                            <div class="table_phone">
                                                <a href="">
                                                    <i class="bi bi-telephone   rounded-5   p-1 text-white"></i>
                                                    @item.requestor_mobile_num
                                                </a>
                                            </div>
                                            <div>
                                                (@role)
                                            </div>
                                        }
                                    </td>
                                    <td style="background:@bgColor">@item.address</td>
                                    <td class="text-white" style="background:@bgColor;">

                                        <div style="display:flex;">
                                            <div class="dropdown mb-1">
                                                <button class="btn text-white border border-white py-1 " onclick="ChatWith(@item.reqid,@item.phy_id,0)"
                                                        id="chat_with_dropdown1" type="button" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                    <i class="bi bi-person me-2 d-none d-sm-inline"></i>
                                                    <span>
                                                        Patient
                                                    </span>
                                                </button>
                                            </div>
                                            <div>
                                                <div class="dropdown">
                                                    <button class="btn border py-1 border-black text-light"
                                                            id="chat_with_dropdown2" type="button" data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                        <span>
                                                            <i class="fa-regular fa-user pe-1"></i>Admin
                                                        </span>
                                                    </button>
                                                    <ul class="dropdown-menu table_dropdowns" style="--bs-dropdown-link-hover-bg: lightgrey;">
                                                        @foreach (var obj in Model.adminData)
                                                        {
                                                            <li>
                                                                <button type="button" class="dropdown-item" onclick="ChatWith(0,@item.phy_id,@obj.Adminid)">
                                                                    @obj.Firstname  @obj.Lastname
                                                                </button>
                                                            </li>
                                                        }

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="background:@bgColor">
                                        <div>
                                            <div class="dropdown">
                                                <button class="btn text-white border border-white py-1 "
                                                        id="chat_with_dropdown2" type="button" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                    <span>
                                                        Action
                                                    </span>
                                                </button>
                                                <ul class="dropdown-menu table_dropdowns" style="--bs-dropdown-link-hover-bg: lightgrey;">
                                                    <li>
                                                        <button class="dropdown-item" onclick="providerAcceptBtn(@item.reqid)">
                                                            <i class="fa-solid fa-list-check pe-2 fs-6"></i>
                                                            Accept
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="dropdown-item" onclick="newViewCase(@item.reqid)">
                                                            <i class="bi bi-briefcase pe-2 fs-6"></i>
                                                            View Case
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="dropdown-item" onclick="newViewNote(@item.reqid)">
                                                            <i class="bi bi-journals pe-2 fs-6"></i>
                                                            View Note
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <table class="table">
                        <thead id="table-heading">
                            <tr>
                                <th scope="col" class="dark-mode2 ">Name</th>
                                <th scope="col" class="dark-mode2 ">Phone</th>
                                <th scope="col" class="dark-mode2 ">Address</th>
                                <th scope="col" class="dark-mode2 ">Chat With</th>
                                <th scope="col" class="dark-mode2 ">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="dark-mode2">
                                <td colspan="4" style="text-align:center;">No Request Found</td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>


        </div>

        <div class="accordion-item mt-3 d-block d-md-none" style="background-color:var(--bs-accordion-active-bg)">
            @if (Model.data.Count() > 0)
            {
                <table class="table" id="tableDataMainTwo" width="100%">

                    <thead>
                        <tr>
                            <th class="d-none">

                            </th>
                            <th class="d-none">

                            </th>
                        </tr>
                    </thead>

                    @{
                        var count = 0;
                    }

                    <tbody>
                        @foreach (var item in Model.data)
                        {

                            if (item.status == 1)
                            {

                                var bgColor = "He";
                                var role = "hello";

                                @if (item.request_type_id == 1)
                                {
                                    bgColor = "#60be5e";
                                    role = "Patient";
                                }
                                else if (item.request_type_id == 2)
                                {
                                    bgColor = "#e69232";
                                    role = "FamilyFriend";
                                }
                                else if (item.request_type_id == 3)
                                {
                                    bgColor = "#0b7ebf";

                                    role = "Concierge";
                                }
                                else if (item.request_type_id == 4)
                                {
                                    bgColor = "#d76879";
                                    role = "Business";
                                }

                                <tr style="display: flex;flex-direction: column" class="@role dark-mode4">

                                    <td>
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed dark-mode4" type="button" data-bs-toggle="collapse" data-bs-target="#div-@count" aria-expanded="false" aria-controls="flush-collapseOne">
                                                <span class="d-flex flex-column" style="width:100%">
                                                    <span class="d-flex justify-content-between">
                                                        <span class="mb-3">@item.first_name @item.last_name</span>
                                                        <span>
                                                            <div class="d-flex align-items-center">
                                                                <div class="pe-2">@role</div>
                                                                <i class="fa-solid fa-circle" style="color:@bgColor"></i>
                                                            </div>
                                                        </span>
                                                    </span>
                                                    <span class="d-flex align-items-center justify-content-between mb-3">
                                                        <span>
                                                            @item.street,<br>
                                                            @item.city
                                                        </span>
                                                        <span class="btn btn-outline-primary" style="font-size:12px;cursor:pointer">Map Location</span>

                                                    </span>
                                                    <span class="d-flex align-items-center mt">

                                                        <i class="fa-regular fa-clock pe-2 " style="color:#2acbcb"></i> <span>Wait Time: </span>
                                                    </span>
                                                </span>

                                            </button>
                                        </h2>
                                    </td>
                                    <td style="z-index:5">
                                        <div id="div-@count" style="position:relative" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body mt-1">
                                                <i class="fa-regular fa-calendar-days"></i> Date of Birth: @item.str_month @item.int_date, @item.int_year
                                            </div>
                                            <div class="accordion-body mt-1">
                                                <i class="fa-regular fa-envelope"></i> Email: @item.email
                                            </div>
                                            <div class="accordion-body mt-1">
                                                <i class="fa-solid fa-phone"></i> Patient: @item.mobile_num
                                            </div>
                                            <div class="accordion-body mt-1">
                                                <i class="fa-regular fa-user"></i> Requestor: @item.requestor_fname @item.responseor_lname
                                            </div>
                                            <div class="accordion-body">
                                                <span class="d-flex flex-column">
                                                    <span class="d-flex justify-content-between mt-1">
                                                        <button class=" accBtn me-2" style="background-color:purple!important;width:150px;color:white;border-radius:35px;" onclick="providerAcceptBtn(@item.reqid)">Accept</button>
                                                        <button class=" accBtn" style="background-color:red!important;width:150px;color:white;border-radius:35px;" onclick="newViewCase(@item.reqid)">View Case</button>
                                                    </span>
                                                    <span class="d-flex justify-content-between mt-1">
                                                        <button class=" accBtn" style="background-color:red!important;width:150px;color:white;border-radius:35px;" onclick="newViewNote(@item.reqid)">View Notes</button>
                                                    </span>
                                                </span>
                                            </div>



                                        </div>
                                    </td>

                                </tr>

                                count++;

                            }

                        }
                    </tbody>

                </table>
            }
            else
            {
                <table class="table">
                    <thead id="table-heading">
                        <tr>
                            <th scope="col" class="dark-mode2 ">Name</th>
                            <th scope="col" class="dark-mode2 ">Phone</th>
                            <th scope="col" class="dark-mode2 ">Address</th>
                            <th scope="col" class="dark-mode2 ">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="dark-mode2">
                            <td colspan="4" style="text-align:center;">No Request Found</td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
    </div>

    <div id="contentCancelNote">
    </div>

    <div id="contentAssignNote">
    </div>

    <div id="contentBlockNote">
    </div>

    <div id="sendLinkActivePopUp">
    </div>

    <div id="requestSupportPopUp">
    </div>

    <div id="partialViewForChat">
    </div>

</div>

<partial name="_ValidationScriptsPartial" />

<script>

    function tableFilter1(typeId) {
        $.ajax({
            method: "GET",
            url: "/Provider/tableRecords",
            traditional: true,
            contentType: "application/json",
            data: { arr: [1], typeId: typeId ,flag:20},
            success: function (result) {
                $("#myTabContent1").html(result);
                $("#New-tab-pane").addClass("show active");
            },

            error: function () {
                toastr.error("Error To Load Partial View");
            },
        });
    }

    function regionClick(regionId) {
        console.log(regionId)
    }


    function calcelCase(reqid) {

        console.log("CLicked")

        let action = "/adminDashboard" + "/" + "cancelCase"
        event.preventDefault();
        $.ajax({
            url: action,
            type: 'GET',
            data: { req: reqid },
            success: function (result) {
                console.log(result)
                $('#contentCancelNote').html(result);
                $('#newRequestModal').modal('show');

            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }

    function assignCase(reqid) {
        let action = "/adminDashboard" + "/" + "assignCase"
        event.preventDefault();
        $.ajax({
            url: action,
            type: 'GET',
            data: { req: reqid },
            success: function (result) {
                console.log(result)
                $('#contentAssignNote').html(result);
                $('#newRequestModalTwo').modal('show');

            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }

    function blockCase(reqid) {
        let action = "/adminDashboard" + "/" + "blockCase"
        event.preventDefault();
        $.ajax({
            url: action,
            type: 'GET',
            data: { req: reqid },
            success: function (result) {
                console.log(result)
                $('#contentBlockNote').html(result);
                $('#newRequestModalThree').modal('show');

            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }



    $(document).ready(function () {

        $('#tableDataMain').DataTable({
            "initComplete": function (settings, json) {

                $('#my-search-input').val(settings.oPreviousSearch.sSearch);

                $('#my-search-input').on('keyup', function () {
                    var searchValue = $(this).val();
                    settings.oPreviousSearch.sSearch = searchValue;
                    settings.oApi._fnReDraw(settings);
                });
            },
            "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
            "pageLength": 5,
            // "order": [[3, "desc"]],
            // "columns": [{ "searchable": true }, { "searchable": false }, { "searchable": true }, { "searchable": false }, { "searchable": false }, { "searchable": false }, { "searchable": false }, { "searchable": false }, { "searchable": false }],
            language: {
                oPaginate: {
                    sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                    sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'

                }
            }
        });
        // $('.dataTables_length').hide();
        $('.dataTables_filter').hide();
    });


    $(document).ready(function () {

        $('#tableDataMainTwo').DataTable({
            "initComplete": function (settings, json) {

                $('#my-search-input').val(settings.oPreviousSearch.sSearch);

                $('#my-search-input').on('keyup', function () {
                    var searchValue = $(this).val();
                    settings.oPreviousSearch.sSearch = searchValue;
                    settings.oApi._fnReDraw(settings);
                });
            },
            "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
            "pageLength": 5,
            language: {
                oPaginate: {
                    sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                    sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'

                }
            }
        });
        // $('.dataTables_length').hide();
        $('.dataTables_filter').hide();
    });


    function newSendLink() {
        let action = "/adminDashboard" + "/" + "sendLinkPopUp"
        $.ajax({
            url: action,
            type: 'GET',
            success: function (result) {
                $('#sendLinkPopUp').html(result);
                $('#sendLinkPopUpOne').modal('show');

            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }


    function requestSupport() {
        console.log("hi")
        let action = "/adminDashboard" + "/" + "requestSupportPopUp"
        event.preventDefault();
        $.ajax({
            url: action,
            type: 'GET',
            success: function (result) {
                console.log(result)
                $('#requestSupportPopUp').html(result);
                $('#requestSupportPopUpOne').modal('show');

            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }



    function createRequest() {
        $.ajax({
            url: "/adminDashboard/createRequest",
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }


    //*************************************************************Editing View************************************/

    function providerAcceptBtn(reqId){
        $.ajax({
            url: "/Provider/ProivderAccept",
            type: 'POST',
            data: { reqId: reqId },
            success: function (result) {
                DashboardMain();
                toastr.success("Request Accepted Successfully");
            },
            error: function () {
                toastr.error("Error");
            },
        });
    }


    function newViewNote(reqid) {
        console.log(reqid)
        $.ajax({
            url: "/Provider/newViewNote",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }



    function newViewCase(reqid) {
        console.log(reqid)
        $.ajax({
            url: "/Provider/newViewCase",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }

    function newSendLinkInActive() {
        let action = "/Provider" + "/" + "sendLinkPopUp"
        $.ajax({
            url: action,
            type: 'GET',
            success: function (response) {
                console.log(response);
                $('#sendLinkActivePopUp').html(response);
                $('#sendLinkPopUpOne').modal('show');

            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }

    function createRequestActive() {
        $.ajax({
            url: "/Provider/createRequest",
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }

    function exportBtnNew() {
        // Get the HTML content of the table
        var htmlContent = $("#tableParentDiv").html();
        console.log(htmlContent)

        // Set the modified HTML content to the input value
        $("input[name='GridHtml']").val(htmlContent);
    }

    function regionClick() {

        var value = $("#regionFilter").val();
        console.log(value);

        $.ajax({
            url: "/adminDashboard/RegionFilter",
            data: { arr: [1], regionId: value },
            traditional: true,
            contentType: "application/json",
            type: 'GET',
            success: function (result) {
                $("#myTabContent1").html(result);
                $("#New-tab-pane").addClass("show active");
                $("#regionFilter").val(value);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            },
        });

    }

    $(document).ready(function () {
        $("#my-search-input").bind("keypress", function (e) {
            if (e.keyCode == 13) {
                return false;
            }
        });
    });

    var REQUESTID = 0;
    var ADMINID = 0;
    var PROVIDERID = 0;
    function ChatWith(x, y, z) {
        REQUESTID = x;
        ADMINID = z;
        PROVIDERID = y;
        chatafter();
    }
    function chatafter() {
        $.ajax({
            method: "GET",
            url: "/Home/Chat",
            data: {
                RequestId: REQUESTID,
                AdminID: ADMINID,
                ProviderId: PROVIDERID,

            },
            success: function (data) {
                console.log(data);
                $('#partialViewForChat').html(data);
                $('#offcanvasRight').offcanvas("show");
            },
            error: function () {
                console.log("Function Fail");
            }

        });
    }

</script>
@*
<script src="~/lib/jquery/dist/jquery.min.js"></script> *@

<partial name="_ValidationScriptsPartial" />