@using System.Collections;
@model DAL_Data_Access_Layer_.CustomeModel.adminDashData

<style>
    th {
        color: #575757 !important;
        font-size: 14px;
        font-weight: 500;
        background-color: #f0f0f0;
        padding-top: 22px;
        padding-bottom: 22px;
    }
</style>


<div class="tab-pane fade show active" id="Active-tab-pane" role="tabpanel" aria-labelledby="Active-tab" tabindex="0">
    <div class="my-4" id="patients_flex_box">
        <span id="patient_txt">
            Patients <span id="patient_sub">(Active)</span>
        </span>

        <span id="patiens_five-link-mediaquerry" style="display:flex;">
            <button onclick="newSendLinkInActive()" class="btn btn-info patient_five_button mx-1 " role="button">
                <i class="bi bi-send"></i>
                <span>
                    Send link
                </span>
            </button>
            <button onclick="createRequestActive()" class="btn btn-info patient_five_button  mx-1" role="button">
                <i class="bi bi-pencil-square"></i>
                <span>
                    create request
                </span>
            </button>
        </span>
    </div>
    <div class="mt-2 mb-2 container-fluid" style="box-shadow: 0px 0px 5px grey;">

        <div class="container-fluid p-0">
            <div id="tablehead-container">

                <div id="tablehead-left">
                    <div class="d-md-flex gap-1">
                        <form role="search" class="bg-light d-flex align-items-center border border-rounded rounded mb-2">
                            <!-- <i class="bi bi-search"></i> -->
                            <i type="search" class="fa-solid fa-magnifying-glass px-2" style="color:#adadad;position:absolute;"></i>
                            <input class="form-control border-0" id="my-search-input-active" type="search" placeholder="Search" aria-label="Search">
                        </form>     
                        <select id="regionFilterActive" onchange="regionClickActive()" class="form-select d-none mb-2" aria-label="Default select example">
                            <option id="reason" disabled selected="">
                                Select Regions
                            </option>
                            <option value="0">
                                All Regions
                            </option>
                            @foreach (var item in Model._RegionTable)
                            {
                                <option value="@item.Regionid">@item.Name</option>
                            }
                        </select>
                    </div>

                </div>
                <span id="tablehead-right">
                    <span class="table_head_five" id="all" type="button" onclick="tableFilter3(0)" style="cursor:pointer">
                        All
                    </span>
                    <span class="table_head_five" onclick="tableFilter3(1)" style="cursor:pointer">

                        <span class="patient_circle"></span>
                        <span>
                            Patients
                        </span>
                    </span>
                    <span class="table_head_five" onclick="tableFilter3(2)" style="cursor:pointer">

                        <span class="family_circle"></span>

                        <span>
                            Family/Friends
                        </span>
                    </span>
                    <span class="table_head_five" onclick="tableFilter3(4)" style="cursor:pointer">

                        <span class="Bussiness_circle"></span>
                        <span>
                            Bussiness
                        </span>
                    </span>
                    <span class="table_head_five" onclick="tableFilter3(3)" style="cursor:pointer">

                        <span class="Concierge_circle"></span>

                        <span>
                            Concierge
                        </span>
                    </span>
                </span>
            </div>
        </div>

        <div id="table_tabview">
            <div class="table-responsive d-none d-sm-block" id="tableParentDivActive">
                @if (Model.data.Count() > 0)
                {
                    <table class="table" id="tableDataMainAdmin">
                        <thead>
                            <tr>
                                <th scope="col" class="dark-mode2 ">Name</th>
                                <th scope="col" class="dark-mode2 ">Phone</th> 
                                <th scope="col" class="dark-mode2 ">Address</th>
                                <th scope="col" class="dark-mode2 ">Status</th>
                                <th scope="col" class="dark-mode2 ">Chat With</th>
                                <th scope="col" class="dark-mode2 ">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.data)
                            {

                                var bgColor = "He";
                                var role = "hello";

                                @if (item.request_type_id == 1)
                                {
                                    bgColor = "#60be5e";
                                    role = "Patient";
                                }
                                else if (item.request_type_id == 2)
                                {
                                    bgColor = "#e69232";
                                    role = "FamilyFriend";
                                }
                                else if (item.request_type_id == 3)
                                {
                                    bgColor = "#0b7ebf";
                                    role = "Concierge";
                                }
                                else if (item.request_type_id == 4)
                                {
                                    bgColor = "#d76879";
                                    role = "Business";
                                }


                                <tr class="tablerows @role">
                                    <td class="text-white" style="background:@bgColor;">
                                        <div class="table_name_email">

                                            @item.first_name, @item.last_name
                                            <a href="">
                                                <i class="bi bi-envelope me-5  rounded-5 border p-1 text-info" style="color:white!important"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="text-white" style="background:@bgColor;">
                                        <div class="table_phone">
                                            <a href="">
                                                <i class="bi bi-telephone   rounded-5   p-1 text-info" style="color:white!important"></i>
                                                @item.mobile_num
                                            </a>
                                        </div>
                                        <div style="color:white">
                                            (Patient)
                                        </div>
                                        @if (item.request_type_id != 1)
                                        {
                                            <div class="table_phone">
                                                <a href="">
                                                    <i class="bi bi-telephone   rounded-5   p-1 text-white" style="color:white!important"></i>
                                                    @item.requestor_mobile_num
                                                </a>
                                            </div>
                                            <div style="color:white">
                                                (@role)
                                            </div>
                                        }

                                    </td>
                                    <td class="text-white" style="background:@bgColor;">@item.address</td>
                                    <td class="text-white" style="background:@bgColor;">
                                        @if(item.call_type == 1)
                                        {
                                        <button class="btn btn-info text-white" type="button" onclick="Housecall(@item.reqid)">House Call</button>                                            
                                        }
                                    </td>
                                    <td class="text-white" style="background:@bgColor;">

                                        <div style="display:flex;">
                                            <div class="dropdown mb-1">
                                                <button class="btn text-white border border-white py-1 " onclick="ChatWith(@item.reqid,@item.phy_id,0)"
                                                        id="chat_with_dropdown1" type="button" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                    <i class="bi bi-person me-2 d-none d-sm-inline"></i>
                                                    <span>
                                                        Patient
                                                    </span>
                                                </button>
                                            </div>
                                            <div>
                                                <div class="dropdown">
                                                    <button class="btn border py-1 border-black text-light"
                                                            id="chat_with_dropdown2" type="button" data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                        <span>
                                                            <i class="fa-regular fa-user pe-1"></i>Admin
                                                        </span>
                                                    </button>
                                                    <ul class="dropdown-menu table_dropdowns" style="--bs-dropdown-link-hover-bg: lightgrey;">
                                                        @foreach (var obj in Model.adminData)
                                                        {
                                                            <li>
                                                                <button type="button" class="dropdown-item" onclick="ChatWith(0,@item.phy_id,@obj.Adminid)">
                                                                    @obj.Firstname  @obj.Lastname
                                                                </button>
                                                            </li>
                                                        }

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="background:@bgColor;color:">
                                        <div>
                                            <div class="dropdown">
                                                <button class="btn text-white border border-white py-1 "
                                                        id="chat_with_dropdown2" type="button" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                    <span>
                                                        Action
                                                    </span>
                                                </button>
                                                <ul class="dropdown-menu table_dropdowns">
                                                    <li>
                                                        <button class="dropdown-item" onclick="activeViewCase(@item.reqid)">
                                                            <i class="bi bi-briefcase pe-2 fs-6"></i>
                                                            View Case
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button onclick="activeViewUploads(@item.reqid)" class="dropdown-item">
                                                            <i class="bi bi-upload pe-2 fs-6"></i>
                                                            View Uploads
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="dropdown-item" onclick="activeViewNote(@item.reqid)">
                                                            <i class="bi bi-journals pe-2 fs-6"></i>
                                                            View Notes
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="dropdown-item" onclick="activeOrders(@item.reqid)">
                                                            <i class="bi bi-cart pe-2 fs-6"></i>
                                                            Orders
                                                        </button>
                                                    </li>
                                                    <li>
                                                        @if (item.call_type == 1)
                                                        {
                                                            @if (item.isFinalize != null && item.isFinalize[0])
                                                            {      
                                                                <button class="dropdown-item" onclick="ProviderEncounterFormDownload(@item.reqid)">
                                                                    <i class="fa-regular fa-note-sticky fs-6 pe-2"></i>
                                                                    EncounterDownload
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button class="dropdown-item" onclick="ProviderEncounterForm(@item.reqid)">
                                                                    <i class="fa-regular fa-note-sticky fs-6 pe-2"></i>
                                                                    EncounterForm
                                                                </button>
                                                            }                                                            
                                                        }
                                                        else
                                                        {
                                                            <button class="dropdown-item" onclick="ProviderEncounterPopUp(@item.reqid)">
                                                                <i class="fa-regular fa-note-sticky fs-6 pe-2"></i>
                                                                Encounter
                                                            </button>
                                                        }                                                        
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <table class="table">
                        <thead id="table-heading">
                            <tr>
                                <th scope="col" class="dark-mode2 ">Name</th>
                                <th scope="col" class="dark-mode2 ">Phone</th>
                                <th scope="col" class="dark-mode2 ">Address</th>
                                <th scope="col" class="dark-mode2 ">Chat With</th>
                                <th scope="col" class="dark-mode2 ">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="dark-mode2">
                                <td colspan="5" style="text-align:center;">No Request Found</td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>

        <div class="accordion-item mt-3 d-block d-md-none" style="background-color:var(--bs-accordion-active-bg)">
            @if (Model.data.Count() > 0)
            {
                <table class="table" id="tableDataMainAdminTwo" width="100%">
                    <thead>
                        <tr>
                            <th class="d-none">

                            </th>
                            <th class="d-none">

                            </th>
                        </tr>
                    </thead>

                    @{
                        var count = 0;

                    }


                    @foreach (var item in Model.data)
                    {
                        if (item.status == 4 || item.status == 5)
                        {
                            var bgColor = "He";
                            var role = "hello";

                            @if (item.request_type_id == 1)
                            {
                                bgColor = "#60be5e";
                                role = "Patient";
                            }
                            else if (item.request_type_id == 2)
                            {
                                bgColor = "#e69232";
                                role = "FamilyFriend";
                            }
                            else if (item.request_type_id == 3)
                            {
                                bgColor = "#0b7ebf";

                                role = "Concierge";
                            }
                            else if (item.request_type_id == 4)
                            {
                                bgColor = "#d76879";
                                role = "Business";
                            }


                            <tr style="display: flex;flex-direction: column" class="@role dark-mode4">
                                <td>
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed dark-mode4" type="button" data-bs-toggle="collapse" data-bs-target="#div-@count" aria-expanded="false" aria-controls="flush-collapseOne">
                                            <span class="d-flex flex-column" style="width:100%">
                                                <span class="d-flex justify-content-between">
                                                    <span class="mb-3">@item.first_name @item.last_name</span>
                                                    <span>
                                                        <div class="d-flex align-items-center">
                                                            <div class="pe-2">@role</div>
                                                            <i class="fa-solid fa-circle" style="color:@bgColor"></i>
                                                        </div>
                                                    </span>
                                                </span>
                                                <span class="d-flex align-items-center justify-content-between mb-3">
                                                    <span>
                                                        @item.street,<br>
                                                        @item.city
                                                    </span>
                                                    <span class="btn btn-outline-primary" style="font-size:12px;cursor:pointer">Map Location</span>

                                                </span>
                                                <span class="d-flex align-items-center mt">

                                                    <i class="fa-regular fa-clock pe-2 " style="color:#2acbcb"></i> <span>Wait Time: </span>
                                                </span>
                                            </span>

                                        </button>
                                    </h2>
                                </td>
                                <td style="z-index:5">
                                    <div id="div-@count" style="position:relative" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body mt-1">
                                            <i class="fa-regular fa-calendar-days"></i> Date of Birth: @item.str_month @item.int_date, @item.int_year
                                        </div>
                                        <div class="accordion-body mt-1">
                                            <i class="fa-regular fa-envelope"></i> Email: @item.email
                                        </div>
                                        <div class="accordion-body mt-1">
                                            <i class="fa-solid fa-phone"></i> Patient: @item.mobile_num
                                        </div>
                                        <div class="accordion-body mt-1">
                                            <i class="fa-solid fa-phone"></i> Transfer: "Notes"
                                        </div>
                                        <div class="accordion-body mt-1">
                                            <i class="fa-solid fa-phone"></i> Date of Service: @item.created_date
                                        </div>
                                        <div class="accordion-body mt-1">
                                            <i class="fa-regular fa-user"></i> Physician: @item.phy_name
                                        </div>
                                        <div class="accordion-body mt-1">
                                            <i class="fa-regular fa-user"></i> Status:  
                                            @if (item.call_type == 1)
                                            {
                                                <button class="btn btn-info text-white" type="button" onclick="Housecall(@item.reqid)">House Call</button>
                                            }
                                        </div>
                                        <div class="accordion-body">
                                            <span class="d-flex flex-column">
                                                <span class="d-flex justify-content-between mt-1">
                                                    <button class=" accBtn me-2" style="background-color:purple!important;width:150px;color:white;border-radius:35px;" onclick="activeViewNote(@item.reqid)">View Notes</button>
                                                    <button class=" accBtn" style="background-color:green!important;width:150px;color:white;border-radius:35px;" onclick="activeOrders(@item.reqid)">Orders</button>
                                                </span>
                                                <span class="d-flex justify-content-between mt-1">
                                                    <button class="accBtn me-2" style="background-color:green!important;width:150px;color:white;border-radius:35px;" onclick="activeViewUploads(@item.reqid)" class="dropdown-item">View Uploads</button>
                                                    @if (item.call_type == 1)
                                                    {
                                                        @if (item.isFinalize != null && item.isFinalize[0])
                                                        {
                                                            <button class=" accBtn" style="background-color:red!important;width:150px;color:white;border-radius:35px;" onclick="ProviderEncounterFormDownload(@item.reqid)">EncounterDownload</button>
                                                        }
                                                        else
                                                        {
                                                            <button class=" accBtn" style="background-color:red!important;width:150px;color:white;border-radius:35px;" onclick="ProviderEncounterForm(@item.reqid)">EncounterForm</button>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <button class=" accBtn" style="background-color:red!important;width:150px;color:white;border-radius:35px;" onclick="ProviderEncounterPopUp(@item.reqid)">Encounter</button>
                                                    }
                                                </span>
                                                <span class="d-flex justify-content-between mt-1">
                                                </span>
                                                <button class="accBtn me-2" style="width:115px;border-radius:35px;position:absolute;top:-36px;right:0px;" onclick="activeViewCase(@item.reqid)">View Case</button>
                                            </span>
                                        </div>



                                    </div>
                                </td>
                            </tr>

                            count++;
                        }
                    }
                </table>
            }
            else
            {
                <table class="table">
                    <thead id="table-heading">
                        <tr>
                            <th scope="col" class="dark-mode2 ">Name</th>
                            <th scope="col" class="dark-mode2 ">Phone</th>
                            <th scope="col" class="dark-mode2 ">Address</th>
                            <th scope="col" class="dark-mode2 ">Chat With</th>
                            <th scope="col" class="dark-mode2 ">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="dark-mode2">
                            <td colspan="5" style="text-align:center;">No Request Found</td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>

    </div>

    <div id="sendLinkActivePopUp">
    </div>

    <div id="requestSupportActivePopUp">
    </div>
    
    <div id="ProviderEncounterPopUp">
    </div>

    <div id="HouseCall">
       
    </div>

    <div class="modal fade" id="encounterModalDownload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h5 class="modal-title text-white" id="exampleModalLongTitle">Encounter Form</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/Provider/GeneratePDF" method="post">
                        <p class="text-secondary">Encounter Form is Finalized successfully</p>
                        <input type="hidden" class="requestId" value="" name="requestid" id="requestIdForDownloadPopUp" />
                        <div class="text-center">
                            <button type="submit" id="downenc" class="btn btn-info text-white" data-bs-dismiss="modal">Download</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="partialViewForChat">
    </div>

</div>



<script>

    function tableFilter3(typeId) {
        $.ajax({
            method: "GET",
            url: "/Provider/tableRecords3",
            traditional: true,
            contentType: "application/json",
            data: { arr: [4, 5], typeId: typeId },
            success: function (result) {
                $("#myTabContent1").html(result);
                $("#Active-tab-pane").addClass("show active");
            },

            error: function () {
                toastr.error("Error To Load Partial View");
            },
        });
    }



    $(document).ready(function () {

        $('#tableDataMainAdmin').DataTable({
            "initComplete": function (settings, json) {

                $('#my-search-input-active').val(settings.oPreviousSearch.sSearch);

                $('#my-search-input-active').on('keyup', function () {
                    var searchValue = $(this).val();
                    settings.oPreviousSearch.sSearch = searchValue;
                    settings.oApi._fnReDraw(settings);
                });
            },
            "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
            "pageLength": 5,
            // "order": [[4, "desc"]],
            // "columns": [{ "searchable": true }, { "searchable": false }, { "searchable": true }, { "searchable": false }, { "searchable": false }, { "searchable": false }, { "searchable": false }, { "searchable": false }, { "searchable": false }, { "searchable": false }],
            language: {
                oPaginate: {
                    sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                    sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'

                }
            }
        });
        // $('.dataTables_length').hide();
        $('.dataTables_filter').hide();
    });

    $(document).ready(function () {

        $('#tableDataMainAdminTwo').DataTable({
            "initComplete": function (settings, json) {

                $('#my-search-input-active').val(settings.oPreviousSearch.sSearch);

                $('#my-search-input-active').on('keyup', function () {
                    var searchValue = $(this).val();
                    settings.oPreviousSearch.sSearch = searchValue;
                    settings.oApi._fnReDraw(settings);
                });
            },
            "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
            "pageLength": 5,
            language: {
                oPaginate: {
                    sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                    sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'

                }
            }
        });
        // $('.dataTables_length').hide();
        $('.dataTables_filter').hide();
    });


    function viewCaseClick(a) {

        console.log(a)
        let action = "/adminDashboard" + "/" + "newViewCase"
        $.ajax({
            url: action,
            type: 'GET',
            data: { req: a },
            success: function (result) {
                $('#content').html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }


    function newSendLinkInActive() {
        let action = "/Provider" + "/" + "sendLinkPopUp"
        $.ajax({
            url: action,
            type: 'GET',
            success: function (response) {
                console.log(response);
                $('#sendLinkActivePopUp').html(response);
                $('#sendLinkPopUpOne').modal('show');

            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }
    
    
    function Housecall(reqId) {
        let action = "/Provider" + "/" + "HousecallPopUp"
        $.ajax({
            url: action,
            type: 'GET',
            data: {reqId : reqId},
            success: function (response) {
                $('#HouseCall').html(response);
                $('#HousecallModal').modal('show');
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            },
        });
    }


    function activeEncounter(reqid) {
        console.log(reqid)
        $.ajax({
            url: "/adminDashboard/concludeEncounter",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }
    
    
    function ProviderEncounterFormDownload(reqid) {
        $.ajax({
            url: "/Provider/ProviderEncounterFormDownload",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $('#encounterModalDownload').modal('show');
                $("#requestIdForDownloadPopUp").val(result.isSend);
            },
            error: function (e) {
                console.log(e);
                toastr.error("Error");
            },
        });
    }


    function requestSupportActive() {
        console.log("hi")
        let action = "/adminDashboard" + "/" + "requestSupportPopUp"
        event.preventDefault();
        $.ajax({
            url: action,
            type: 'GET',
            success: function (result) {
                console.log(result)
                $('#requestSupportActivePopUp').html(result);
                $('#requestSupportPopUpOne').modal('show');

            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }



    function createRequestActive() {
        $.ajax({
            url: "/Provider/createRequest",
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }

   
    //*************************************************************Editing View************************************/

    function activeViewCase(reqid) {
        $.ajax({
            url: "/Provider/newViewCase",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }

    function activeViewNote(reqid) {
        $.ajax({
            url: "/Provider/newViewNote",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }


    function activeViewUploads(reqid) {
        console.log(reqid)
        $.ajax({
            url: "/Provider/pendingViewUploadMain",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }

    function activeOrders(reqid) {
        console.log(reqid)
        $.ajax({
            url: "/Provider/activeOrders",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }


    function ProviderEncounterPopUp(reqid) {
        $.ajax({
            url: "/Provider/ProviderEncounterPopUp",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $('#ProviderEncounterPopUp').html(result);
                $('#EncounterModalBox').modal('show');

            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }



    function ProviderEncounterForm(reqid) {
        console.log(reqid)
        $.ajax({
            url: "/Provider/concludeEncounter",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }


    function exportBtnActive() {
        // Get the HTML content of the table
        var htmlContent = $("#tableParentDivActive").html();
        console.log(htmlContent)

        // Set the modified HTML content to the input value
        $("input[name='GridHtml']").val(htmlContent);
    }

    $(document).ready(function () {
        $("#my-search-input-active").bind("keypress", function (e) {
            if (e.keyCode == 13) {
                return false;
            }
        });
    });


    function regionClickActive() {
        var value = $("#regionFilterActive").val();
        console.log(value);

        $.ajax({
            url: "/adminDashboard/RegionFilter3",
            data: { arr: [4, 5], regionId: value },
            traditional: true,
            contentType: "application/json",
            type: 'GET',
            success: function (result) {
                $("#myTabContent1").html(result);
                $("#Active-tab-pane").addClass("show active");
                $("#regionFilterActive").val(value);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            },
        });

    }

    var REQUESTID = 0;
    var ADMINID = 0;
    var PROVIDERID = 0;
    function ChatWith(x, y, z) {
        REQUESTID = x;
        ADMINID = z;
        PROVIDERID = y;
        chatafter();
    }
    function chatafter() {
        $.ajax({
            method: "GET",
            url: "/Home/Chat",
            data: {
                RequestId: REQUESTID,
                AdminID: ADMINID,
                ProviderId: PROVIDERID,

            },
            success: function (data) {
                console.log(data);
                $('#partialViewForChat').html(data);
                $('#offcanvasRight').offcanvas("show");
            },
            error: function () {
                console.log("Function Fail");
            }

        });
    }
   


</script>



