@model DAL_Data_Access_Layer_.CustomeModel.adminDashData;



@* <div class="tab-pane fade" id="Myprofile-tab-pane" role="tabpanel" aria-labelledby="Myprofile-tab" tabindex="0"> *@
    <style>
        .iti{
            width:100%;
        }

        .iti__country-list{
            z-index:3!important;
        }
    </style>
    
    
    
    <div class="container-fluid">
        <div class="container">
            <div class=" mt-2 d-flex justify-content-between align-items-center">
                <h4>My Profile</h4>
                <a asp-controller="Patient" asp-action="Admin_Dashboard" hidden
                   class="btn shadow  btn-outline-secondary border-info text-info px-3 ">
                    <i class="fa-solid fa-angle-left"></i> Back
                </a>
            </div>
                <div class="mx-3 my-4 ">
            <form method="post" asp-action="myProfile" asp-controller="adminDashboard" id="myProfileFirstForm">
                    <input type="hidden" asp-for="@Model._myProfile.flag" value="1" id="flagValueOne" />
                    <div class="mt-3">
                        <h4 class="my-4 pt-4">Account Information</h4>
                        
                        <div class="row">
                            <div class="mb-3 col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating  ">
                                <input value="@Model._myProfile.username" type="text" class="form-control dark-mode2" id="floatingInputFirst" placeholder="User Name" disabled aria-label="User Name">
                                <label class="ms-2 " for="floatingInputUsername">User Name</label>
                            </div>
                            <div style="position: relative;"
                                 class="mb-3 col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating ">
                            <input asp-for="@Model._myProfile.password" value="@Model._myProfile.password" type="password" class="form-control dark-mode2 inputs" placeholder="Password"
                                   id="floatingPassword2" />
                                <label for="exampleInputPassword1" class=" ms-2 innertext small">Password</label>
                                <button class="btn show-password" style="right: 15px;position: absolute;top: 18%;"
                                    type="button" >
                                <i class="fa-regular fa-eye" onclick="passwordVisible2()"
                                   id="passHide2"></i>
                                </button>
                            <span asp-validation-for="@Model._myProfile.password" class="text-danger"></span>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12  form-floating mb-3 ">
                                <select class="form-select form-control dark-mode2" disabled id="Status">
                                    <option value="1" selected>Active</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <label for="Status" class="ms-2 text-wrap small text-secondary">Status</label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12  form-floating mb-3 ">
                            <select class="form-select form-control dark-mode2" disabled id="Role">

                                <option value="1" disabled selected>Master Admin</option>
                                @foreach (var item in Model._myProfile.roles)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                                </select>
                                <label for="Role" class="ms-2 text-wrap small text-secondary">Role</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-3">
                            <button onclick="resetPassTwo()" type="button" id="ResetPassword"
                                    class="btn btn-outline-secondary border-info text-info">
                                Reset Password
                            </button>
                        </div>
                    
                    </div>
                </form>

                 <form method="post" asp-action="myProfile" asp-controller="adminDashboard" id="myProfileSecondForm">
                    <input type="hidden" asp-for="@Model._myProfile.flag" value="2" id="flagValueTwo" />
                    <input type="hidden" asp-for="@Model._myProfile.admin_id" value="@Model._myProfile.admin_id"  />
                    <div class="pt-4">
                        <h4 class="mb-4">Administrator Information</h4>
                        <div class="row mb-3">
                            <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3 ">
                                <input asp-for="@Model._myProfile.fname" value="@Model._myProfile.fname" type="text" class="d1class form-control dark-mode2" id="floatingInputFirstAdmin"
                                       placeholder="First Name" aria-label="First Name">
                                <label class="ms-2 " for="floatingInputFirstAdmin">First Name</label>
                            <span asp-validation-for="@Model._myProfile.fname" class="text-danger"></span>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12  form-floating mb-3 ">
                                <input asp-for="@Model._myProfile.lname" value="@Model._myProfile.lname" type="text" class="d1class form-control dark-mode2" id="floatingInputLastAdmin"
                                       placeholder="Last Name" aria-label="Last Name">
                                <label class="ms-2  " for="floatingInputLastAdmin">Last Name</label>
                            <span asp-validation-for="@Model._myProfile.lname" class="text-danger"></span>
                            </div>
                            <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                <input asp-for="@Model._myProfile.email" value="@Model._myProfile.email" type="email" class="d1class form-control dark-mode2" id="floatingInputemailAdmin"
                                       placeholder="Email" aria-label="Email">
                            <label class="ms-2 " for="floatingInputemailAdmin">Email</label>
                            <span asp-validation-for="@Model._myProfile.email" class="text-danger"></span>
                            </div>

                            <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                <input asp-for="@Model._myProfile.confirm_email" value="@Model._myProfile.confirm_email" type="email" class="d1class form-control dark-mode2" id="floatingInputConfirmEmailAdmin"
                                       placeholder="ConfirmEmail" aria-label="ConfirmEmail">
                            <label class="ms-2 " for="floatingInputConfirmEmailAdmin">Confirm Email</label>
                            <span asp-validation-for="@Model._myProfile.confirm_email" class="text-danger"></span>
                            </div>
                       

                            <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                            <input asp-for="@Model._myProfile.mobile_no" value="@Model._myProfile.mobile_no" style="height:56px" id="phoneMyProfile"
                                   class="d1class form-control dark-mode2 contact"
                                   aria-label="Contact"
                                   type="number" />
                            <span asp-validation-for="@Model._myProfile.mobile_no" class="text-danger"></span>
                            </div>

                            <div class="d-flex col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                            <button class="btn border d-flex align-items-center w-100 regionbtn d1class dark-mode2" type="button"
                                    style="height:58px" data-bs-toggle="dropdown" aria-expanded="false">
                                Select Region
                            </button>
                            <div class="dropdown-menu d1class dark-mode2">
                                @if (Model._adminRegionTable is not null && Model._adminRegionTable.Count > 0)
                                {
                                    @foreach (var region in Model._adminRegionTable)
                                    {
                                        <div class="dropdown-item">
                                            <input type="checkbox" name="adminRegions" id="@region.Regionid" value="@region.Regionid" class="dark-mode2 region-checkbox me-1" @(region.ExistsInTable ? "checked" : "")>
                                            <label for="@region.Regionid">@region.Name</label>
                                        </div>
                                    }
                                }
                            </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-flex justify-content-center  justify-content-md-end mt-3 mb-3">
                            <button type="button" id="editBtn" class="btn btn-info text-white EditBtn"
                                    onclick="enableFields()">
                                Edit
                            </button>

                            <button onclick="closeCaseAdminInfo()" type="button" id="submitBtn" class="btn btn-info text-white EditBtn">Save</button>

                            <button type="reset" id="cancelBtn" class="btn btn-outline-info EditBtn"
                                    onclick="disableFields()">
                                Cancel
                            </button>
                        </div>
                    </div>
                 </form>

            <form method="post" asp-action="myProfile" asp-controller="adminDashboard" id="myProfileThirdForm">
                    <input type="hidden" asp-for="@Model._myProfile.flag" value="3" id="flagValueThree" />
                <input type="hidden" asp-for="@Model._myProfile.admin_id" value="@Model._myProfile.admin_id" />
                    <div class="pt-4">
                        <h4 class="mb-4">Mailing And Billing Information</h4>
                        <div class="row mb-3">
                            <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                <input asp-for="@Model._myProfile.addr1" value="@Model._myProfile.addr1" type="text" class="dclass form-control dark-mode2" id="floatingInputAddress1"
                                       placeholder="Address1" aria-label="Address1">
                                <label class="ms-2 " for="floatingInputAddress1">Address1</label>
                            <span asp-validation-for="@Model._myProfile.addr1" class="text-danger"></span>
@*                             <span id="firstReq" clas>FirstName is required</span>
 *@                            </div>
                            <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                <input asp-for="@Model._myProfile.addr2" value="@Model._myProfile.addr2" type="text" class="dclass form-control dark-mode2" id="floatingInputAddress2"
                                       placeholder="Address2" aria-label="Address2">
                                <label class="ms-2 " for="floatingInputAddress2">Address2</label>
                            <span asp-validation-for="@Model._myProfile.addr2" class="text-danger"></span>
                            </div>
                            <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                <input asp-for="@Model._myProfile.city" value="@Model._myProfile.city" type="text" class="dclass form-control dark-mode2" id="floatingInputCity"
                                       placeholder="City" aria-label="City">
                                <label class="ms-2 " for="floatingInputCity">City</label>
                            <span asp-validation-for="@Model._myProfile.city" class="text-danger"></span>
                            </div>
                            <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                            <select asp-for="@Model._myProfile.regionId" value="@Model._myProfile.regionId" class="dclass form-select regionDropdown dark-mode2" id="state" aria-label="Region">
                                @foreach (var obj in Model._RegionTable.ToList())

                                {
                                    <option value="@obj.Regionid">
                                        @obj.Name
                                    </option>
                                }
                            </select>
                            <label for="state" class="ms-2 ">State</label>
                            <span asp-validation-for="@Model._myProfile.regionId" class="text-danger"></span>
                            </div>
                            <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                <input asp-for="@Model._myProfile.zip" value="@Model._myProfile.zip" type="number" class="dclass form-control dark-mode2" id="floatingInputZipCode"
                                       placeholder="Zip Code" aria-label="Zip Code">
                                <label class="ms-2  " for="floatingInputZipCode">Zip</label>
                            <span asp-validation-for="@Model._myProfile.zip" class="text-danger"></span>
                            </div>
                            <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                            <input asp-for="@Model._myProfile.altphone" value="@Model._myProfile.altphone" style="height:56px" id="phoneMyProfile2"
                                   class="dclass form-control dark-mode2 contact"
                                   aria-label="Contact"
                                   type="number" />
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-flex justify-content-center  justify-content-md-end mb-3">
                            <button type="button" id="editBtn2" class="btn btn-info text-white EditBtn"
                                    onclick="enableFields2()">
                                Edit
                            </button>

                            <button onclick="closeCaseBillingInfo()" type="button" id="submitBtn2" class="btn btn-info text-white EditBtn">Save</button>

                            <button type="reset" id="cancelBtn2" class="btn btn-outline-info EditBtn"
                                    onclick="disableFields2()">
                                Cancel
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
        </div>
    </div>
@* </div> *@

<partial name="_ValidationScriptsPartial" />


<script>
    var phoneInputPatientMyProfile = document.querySelector("#phoneMyProfile");
    var phoneInputMyProfile = window.intlTelInput(phoneInputPatientMyProfile, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    var phoneInputPatientMyProfileTwo = document.querySelector("#phoneMyProfile2");
    var phoneInputMyProfileTwo = window.intlTelInput(phoneInputPatientMyProfileTwo, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    function disableFields() {
        document.querySelectorAll('.d1class').forEach(function (element) {
            element.disabled = true;
        });
        // Hide the submit and cancel buttons, show the edit button
        document.getElementById('submitBtn').style.display = 'none';
        document.getElementById('cancelBtn').style.display = 'none';
        document.getElementById('editBtn').style.display = 'block';
    }

    function enableFields() {
        document.querySelectorAll('.d1class').forEach(function (element) {
            element.disabled = false;
        });
        // Show the submit and cancel buttons, hide the edit button
        document.getElementById('submitBtn').style.display = 'block';
        document.getElementById('cancelBtn').style.display = 'block';
        document.getElementById('editBtn').style.display = 'none';
    }
    disableFields();

    function disableFields2() {
        document.querySelectorAll('.dclass').forEach(function (element) {
            element.disabled = true;
        });
        // Hide the submit and cancel buttons, show the edit button
        document.getElementById('submitBtn2').style.display = 'none';
        document.getElementById('cancelBtn2').style.display = 'none';
        document.getElementById('editBtn2').style.display = 'block';
    }

    function enableFields2() {
        document.querySelectorAll('.dclass').forEach(function (element) {
            element.disabled = false;
        });
        // Show the submit and cancel buttons, hide the edit button
        document.getElementById('submitBtn2').style.display = 'block';
        document.getElementById('cancelBtn2').style.display = 'block';
        document.getElementById('editBtn2').style.display = 'none';
    }
    disableFields2();

    function passwordVisible2() {
        let a = document.getElementById("passHide2")
        console.log(a)
        if (a.classList.contains("fa-eye")) {
            a.classList.remove("fa-eye")
            a.classList.add("fa-eye-slash")
        } else {
            a.classList.remove("fa-eye-slash")
            a.classList.add("fa-eye")
        }

        var x = document.getElementById("floatingPassword2");
        if (x.type === "password") {
            x.type = "text";
            console.log("hi1")
        } else {
            x.type = "password";
            console.log("hi2")
        }
    }

    function resetPassTwo() {

         let action = "/adminDashboard" + "/" + "myProfile";

        if ($("#myProfileFirstForm").valid()) {
            $.ajax({
                url: action,
                type: 'POST',
                data: $("#myProfileFirstForm").serialize(),
                success: function (result) {
                    if (result.isSend == true) {
                        toastr.success("Password Reset Successfully")
                    } else {
                        toastr.error("For reset password you need to enter new password");
                    }
                },
                error: function () {
                    toastr.error("Error To Load Partial View");
                },
            });
        }
    }

    function closeCaseAdminInfo() {

        let action = "/adminDashboard" + "/" + "myProfile";

        if ($("#myProfileSecondForm").valid()) {
            $.ajax({
                url: action,
                type: 'POST',
                data: $("#myProfileSecondForm").serialize(),
                success: function (result) {
                    console.log(result)
                    if (result.isSend == true) {
                        myProfile()
                        toastr.success("Data Updated")
                        // $("#cancelBtn").click()
                        document.getElementById("userNameMain").innerHTML = result.userChangeHeader;
                    } else {
                        toastr.error("Change atleast one field");
                    }
                },
                error: function () {
                    toastr.error("Error To Load Partial View");
                },
            });
        }
    }


    function closeCaseBillingInfo() {

        if ($("#myProfileThirdForm").valid()) {
            $.ajax({
                url: "/adminDashboard/myProfile",
                type: 'POST',
                data: $("#myProfileThirdForm").serialize(),
                success: function (result) {
                    if (result.isSend == true) {
                        myProfile()
                        toastr.success("Data Updated");
                    } else {
                        toastr.error("Change atleast one field");
                    }
                },
                error: function () {
                    toastr.error("Error To Load Partial View");
                },
            });
        }
    }

    

    // $('.inputs').on('input', function () {
    //     var profileThird = $('#myProfileThirdForm');
    //     if(profileThird==''){

    //     }
    // })
</script>