@model DAL_Data_Access_Layer_.CustomeModel.recordsModel;


<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />

<div class="w-100 px-3 pb-3 px-sm-5">

    <h4 class="ms-2 mb-2">Blocked History</h4>

    <div class="shadow rounded border ">

        <form id="blockHistoryForm">
            <div class="row p-3">
                <div class="form-floating mb-3 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-flex">
                    <input type="text" class="form-control bg-transparent dark-mode2" id="first_name" placeholder="First Name"
                           asp-for="@Model.blockHistoryMain[0].searchRecordOne">
                    <label for="first_name" class="ms-2  ">Name</label>
                </div>

                <div class="form-floating mb-3 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-flex">
                    <input type="date" class="form-control bg-transparent dark-mode2" id="dateBlockHistory"
                           placeholder="To Date of Service" asp-for="@Model.blockHistoryMain[0].searchRecordTwo">
                    <label for="dateBlockHistory" class="ms-2  ">Date</label>
                </div>

                <div class="form-floating mb-3 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-flex">
                    <input type="email" class="form-control dark-mode2" id="email" placeholder="Email" aria-label="Email"
                           asp-for="@Model.blockHistoryMain[0].searchRecordThree">
                    <label class="ms-2  " for="Email">Email</label>
                </div>

                <div class="form-floating mb-3 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-flex">
                    <input class="form-control dark-mode2" type="search" placeholder="Phone Number" aria-label="Search" id="phone"
                           asp-for="@Model.blockHistoryMain[0].searchRecordFour">
                    <label class="  ms-2">Phone Number</label>
                </div>

                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-info me-2 px-3 py-2" type="button" id="clear_button"
                            onclick="blockedHistory()">
                        Clear
                    </button>
                    <button class="btn btn-info text-white ms-1 px-3 py-2" onclick="blockHistorySearch()" type="button"
                            id="search_button">
                        Search
                    </button>
                </div>
            </div>
        </form>
          @if (Model.blockHistoryMain[0].flag != 1)
        {
            <div class="table-responsive d-none d-lg-block m-3">
                <table class="table Blockrequesttable">
                    <thead class="table-active">
                        <tr class="dark-mode2">
                            <th scope="col" class="text-center">Patient Name</th>
                            <th scope="col" class="text-center">Phone Number </th>
                            <th scope="col" class="text-center">Email</th>
                            <th scope="col" class="text-center">Created Date<i class="bi bi-arrow-down"></i></th>
                            <th scope="col" class="text-center">Notes</th>
                            <th scope="col" class="text-center">Is Active</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var obj in Model.blockHistoryMain)
                        {

                            <tr class="dark-mode2">
                                <td class="text-center">@obj.patientname</td>
                                <td class="text-center">@obj.phonenumber</td>
                                <td class="text-center">@obj.email</td>
                                <td class="text-center">@obj.createddate</td>
                                <td class="text-center">@obj.notes</td>
                                <td class="text-center">
                                    <input type="checkbox" name="Mark" class="checkbox fileCheckbox px-4 providerCheckBox"
                                    checked onchange="checkBoxBlock(@obj.blockId)" />
                                </td>
                                <td>
                                    <button class="btn btn-outline-info rounded-2"
                                    onclick="unblockBlockHistory(@obj.blockId)">
                                        Unblock
                                    </button>
                                </td>
                            </tr>

                        }
                    </tbody>

                </table>
            </div>
            <div class=" d-block d-lg-none">
                <div class="accordion container-fluid p-0" id="accordionPanelsStayOpenExample">
                    <table class="w-100 Blockrequesttable">
                        <thead>
                            <tr class="dark-mode2">
                                <th class="d-none"></th>
                                <th class="d-none"></th>
                            </tr>
                        </thead>
                        @{
                            var counter = 1;
                        }
                        <tbody>
                            @if (Model.blockHistoryMain != null)
                            {
                                @foreach (var obj in Model.blockHistoryMain)
                                {
                                    <tr class="d-flex flex-column dark-mode2">
                                        <td>
                                            <h2 class="accordion-header" id="flush-heading@(counter)"></h2>

                                            <div class="accordion-button collapsed d-flex flex-column pb-0"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse@(counter)"
                                            aria-expanded="false" aria-controls="flush-collapse@(counter)">

                                                <div class="w-100 fw-bolder">
                                                    @obj.patientname
                                                </div>
                                                <div class="w-100 mt-2 fw-bolder">
                                                    <div class="mobile-font2">
                                                        @obj.email
                                                    </div>
                                                </div>

                                            </div>

                                        </td>
                                        <td>
                                            <div id="flush-collapse@(counter)" class="accordion-collapse collapse"
                                            aria-labelledby="flush-heading@(counter)" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body main-flex pt-2">
                                                    <div class="w-100">

                                                        <div class="">
                                                            <span class="fw-bolder">Phone: </span> @obj.phonenumber
                                                        </div>
                                                        <div class="">
                                                            <span class="fw-bolder">Created Date: </span> @obj.createddate
                                                        </div>
                                                        <div class="">
                                                            <span class="fw-bolder">Notes: </span> @obj.notes
                                                        </div>
                                                        <div class="">
                                                            <input type="checkbox" name="Mark"
                                                            class="checkbox fileCheckbox px-4 providerCheckBox" checked
                                                            onchange="checkBoxBlock(@obj.blockId)" />
                                                        </div>

                                                        <div class="inner-flex d-flex justify-content-end">
                                                            <button class="btn btn-outline-info rounded-2"
                                                            onclick="unblockBlockHistory(@obj.blockId)">
                                                                Unblock
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    counter++;
                                }
                            }
                        </tbody>
                </table>
            </div>
            </div>
        }
        else
        {
            <table class="table">
                <thead class="table-active">
                    <tr class="dark-mode2">
                        <th scope="col" class="text-center">Patient Name</th>
                        <th scope="col" class="text-center">Phone Number </th>
                        <th scope="col" class="text-center">Email</th>
                        <th scope="col" class="text-center">Created Date<i class="bi bi-arrow-down"></i></th>
                        <th scope="col" class="text-center">Notes</th>
                        <th scope="col" class="text-center">Is Active</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td colspan="7" style="text-align:center;">No Request Found</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</div>


<script>

    function checkBoxBlock(blockId) {
        $.ajax({
            url: "/adminDashboard/providerCheckBoxBlock",
            data: { blockId: blockId },
            type: 'GET',
            success: function (result) {
                if (result.indicate == true) {
                    toastr.success("IsActive Stopped");
                } else {
                    toastr.success("IsActive Started");
                }
            },
            error: function () {
                alert("Error");
            },
        });
    }

    function clearAll() {
        let a = document.getElementsByTagName("input")
        for (let i = 0; i < a.length; i++) {
            a[i].value = "";
        }

        let b = document.getElementsByTagName("textarea")
        for (let i = 0; i < b.length; i++) {
            b[i].value = "";
        }
    }

    function unblockBlockHistory(blockId){
        $.ajax({
            url: "/adminDashboard/unblockBlockHistory",
            data: { blockId: blockId },
            type: 'GET',
            success: function (result) {
                blockedHistory();
                toastr.success("Request Unblocked");                
            },
            error: function () {
                alert("Error");
            },
        });
    }



    function blockHistorySearch() {
        var arrayMain = $("#blockHistoryForm").serializeArray();
        console.log(arrayMain)

        event.preventDefault();

        $.ajax({
            url: "/adminDashboard/blockedHistory",
            data: arrayMain,
            type: 'POST',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                alert("Error");
            },
        });

    }

    $(document).ready(function () {

        $('.Blockrequesttable').DataTable({
            "initComplete": function (settings, json) {

                $('#my-search-input').val(settings.oPreviousSearch.sSearch);

                $('#my-search-input').on('keyup', function () {
                    var searchValue = $(this).val();
                    settings.oPreviousSearch.sSearch = searchValue;
                    settings.oApi._fnReDraw(settings);
                });
            },
            "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
            "pageLength": 5,
            language: {
                oPaginate: {
                    sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                    sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'

                }
            }
        });
        $('.dataTables_filter').hide();
    });

</script>