@model DAL_Data_Access_Layer_.CustomeModel.adminDashData


<form method="post" asp-action="assignCase" asp-controller="adminDashboard" class="dark-mode2">
    <div class="modal fade " id="newRequestModalTwo" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered">  
            <div class="modal-content">
                <div class="modal-header " style="background-color:#0dcaf0">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Assign Request</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close" style="color:white"></button>
                </div>

                 <input value="@Model.assignCase.reqid" asp-for="@Model.assignCase.reqid" type="hidden" />
                @* <input value="@Model.closeCase.status" asp-for="@Model.closeCase.status" type="hidden" />  *@
                <div class="modal-body ">

                    <input hidden class="reqId" type="text" value="" id="id" name="id" />
                    <div class="d-flex align-items-center mb-4">
                        <div class="">to assign this request,search and select another Physician. </div>

                        <p class="name mb-0" style="font-size:18px;color:#0dcaf0;margin-left:8px;"></p>
                    </div>
                    <select  id="regionDropdown" class="form-select mb-2"  aria-label="Default select example" asp-for="assignCase.region_id_main">
                        <option  id="reason" disabled selected="">
                            Narrow search by region
                        </option>
                        @foreach (var item in Model.assignCase.regions)
                        {
                            <option value="@item.Regionid">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="assignCase.region_id_main" class="text-danger"></span>
                    
                    <select  id="doctorDropdown" class="form-select mb-2" aria-label="Default select example" asp-for="assignCase.phy_id_main" >
                         <option  id="reason" disabled selected="">Select Physician</option> 

                    </select>
                    <span asp-validation-for="assignCase.phy_id_main" class="text-danger"></span>

                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="note" style="height: 100px"  asp-for="@Model.assignCase.description"></textarea>
                        <label for="floatingTextarea2" class="input">Description</label>
                    </div>

                </div>
                <div class="modal-footer">

                    <button class="btn btn-info text-white" type="submit">confirm</button>
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />

<script>
    $("#regionDropdown").on("change", function () {
        doctorsName($(this).val());
    })

    function doctorsName(reg_id) {
        let action = "/adminDashboard" + "/" + "GetDoctors"
            event.preventDefault();
            $.ajax({
                url: action,
                type: 'GET',
            data: { regionId: reg_id },
            success: function (data) {
                console.log("data_phy" + data.dataPhyId)
                $('#doctorDropdown').html("<option>" + "Select Physician" + "</option>");
                for (var i = 0; i < data.dataid.length; i++) {
                    $("#doctorDropdown").append('<option value = "' + data.dataPhyId[i] + '" >' + data.dataid[i] + '</option>')

                }
                    
              },
                error: function () {
                    alert('Error loading partial view');
                }
            });
    }


    // $('#doctorDropdown').empty();
    // for (let i = 0; i < data.length; i++) {
    //     $('#doctorDropdown').append('<option>' + data[i] + '</option>')
    // }


    // $(document).ready(function () {
    //     $('#regionDropdown').change(function () {
    //         var regionId = $(this).val();
    //         $.ajax({
    //             url: '/YourController/GetDoctors',
    //             type: 'GET',
    //             data: { regionId: regionId },
    //             success: function (data) {
    //                 $('#doctorDropdown').empty();
    //                 $.each(data, function (index, doctor) {
    //                     $('#doctorDropdown').append('<option value="' + doctor.id + '">' + doctor.name + '</option>');
    //                 });
    //             },
    //             error: function () {
    //                 alert('Error loading doctors.');
    //             }
    //         });
    //     });
    // });


        // public ActionResult GetDoctors(int regionId)
        // {
        //     // Retrieve doctors based on regionId from your database
        //     var doctors = _context.Doctors.Where(d => d.RegionId == regionId).ToList();

        //     // Return JSON data
        //     return Json(doctors);
        // }

</script>