@model DAL_Data_Access_Layer_.CustomeModel.adminDashData

@inject IHttpContextAccessor Accessor
@using Microsoft.AspNetCore.Http


@{
    ViewData["Title"] = "View Case";
}
@{
    var Status = @Accessor.HttpContext.Session.GetInt32("requestIdView");
}
<link href="~/css/adminDashViewCase.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />



        @foreach(var item in Model.data)
        {

            var bgColor = "He";
            var role = "hello";

            @if (item.request_type_id == 1)
            {
                bgColor = "#60be5e";
                role = "Patient";
            }
            else if (item.request_type_id == 2)
            {
                bgColor = "#e69232";
                role = "FamilyFriend";
            }
            else if (item.request_type_id == 3)
            {
                bgColor = "#0b7ebf";

                role = "Concierge";
            }
            else if (item.request_type_id == 4)
            {
                bgColor = "#d76879";
                role = "Business";
            }
        <div class="container">
            <div class=" mt-5 d-flex justify-content-between align-items-center">
                <h4> Profile <span class="badge  rounded-5 Reqtyp" style="background:@bgColor">@role</span></h4>

                <button asp-controller="Admin" asp-action="Admin_dashboard"
                   class="btn shadow  btn-outline-secondary border-info text-info px-3 ">
                    <i class="fa-solid fa-angle-left"></i> Back
                </button>
            </div>
            <form action="" class="shadow border rounded my-3" method="post">
                <div class="mx-3 my-4 ">
                    <div class="mt-3">
                        <h4 class="ms-auto me-auto mb-4">Patient Information</h4>

                        <h6 style="font-size: 14px">Confirmation Number</h6>
                        <p class="text-info fs-5 mb-3">@item.cnf_number</p>

                        <div class="row">
                            <div class=" col-12 form-floating mb-3 ">
                                <textarea class="form-control h-100 dclass" id="floatingInput" placeholder="Textarea" rows="3" value="@item.notes"
                                          disabled></textarea>
                                <label for="floatingInput" class="text-wrap ms-2">Patient Notes</label>
                            </div>
                        </div>
                        <hr />
                        <div class="mt-1">
                            <div class="row">

                                <div class="form-floating mb-3 col-12 col-sm-6">
                                    <input type="text" class="form-control dclass" id="floatingInput" placeholder="John" value="@item.first_name"
                                           required disabled>
                                    <label for="floatingInput" class="ms-2 " >First Name</label>
                                </div>

                                <div class="form-floating mb-3 col-12 col-sm-6">
                                    <input type="text" class="form-control dclass" value="@item.last_name" id="floatingInput" placeholder="Wick"
                                           disabled>
                                    <label for="floatingInput" class="ms-2 " >Last Name</label>
                                </div>

                                <div class="form-floating mb-3 col-12 col-sm-6">
                                    <input type="date" class="form-control dclass" id="floatingInput" value="@item.fulldateofbirth" placeholder="02-10-2002"
                                           disabled>
                                    <label for="floatingInput" class="ms-2 ">Date of Birth</label>
                                </div>

                                <div class="form-floating mb-3 col-12 col-sm-5">
                                    <input type="tel" class="phone form-control dclass" id="floatingInput" value="@item.mobile_num"
                                           placeholder="1234567890" disabled>
                                </div>

                                <div class="form-floating mb-3 col-12 col-sm-1 ">
                                    <button type="button" class="dclass btn btn-outline-dark border-info p-3 text-info w-100" style="height: 100%;">
                                        <i class="bi bi-telephone"></i>
                                    </button>
                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="form-floating mb-3 col-12 col-sm-6">
                                <input type="email" class="form-control emailInp dclass" id="floatingInput1" value="@item.email"
                                       mailto:placeholder="test@google.com" disabled>
                                <label for="floatingInput" class="ms-2 " >Email</label>
                            </div>
                            @*
                    <div
                    class="form-floating mb-3 col-12 col-sm-1 d-flex align-items-center justify-content-center mx-2">

                    <button type="button" id="editBtn" class="btn btn-outline-info EditBtn px-4 py-3"
                    onclick="enableFields()">Edit</button>
                    <button type="submit" id="submitBtn"
                    class="btn btn-outline-info EditBtn px-4 py-3">Save</button>
                    <button type="button" id="cancelBtn" class="btn btn-outline-info EditBtn px-4 py-3"
                    onclick="disableFields()">Cancel</button>
                    </div> *@

                        </div>

                        <div class="row">

                            <h4 class="ms-auto me-auto">Location Information</h4>


                            <div class="form-floating mb-3 col-12 col-sm-6">
                                <input type="text" class="form-control dclass" id="floatingInput" placeholder="Maryland" value="@item.region"
                                       disabled>
                                <label for="floatingInput" class="ms-2 ">Region</label>
                            </div>

                            <div class="form-floating mb-3 col-12 col-sm-5">
                                <input type="text" class="form-control dclass" id="floatingInput" placeholder="Maryland" value="@item.street @item.city , @item.state"
                                       disabled>
                                <label for="floatingInput" class="ms-2 ">Business Name / Address</label>
                            </div>


                            <div class="form-floating mb-3 col-12 col-sm-1 ">
                                <button type="button" class="dclass btn btn-outline-dark border-info p-3 text-info w-100 " style="height: 100%;">
                                    <i class="bi bi-geo-alt"></i>
                                </button>
                            </div>

                            <div class="form-floating mb-3 col-12 col-sm-6">
                                <input type="text" class="form-control dclass" id="floatingInput" placeholder="007" value=""  disabled>
                                <label for="floatingInput" class="ms-2 ">Room #</label>
                            </div>

                        </div>
                        <div class="d-grid gap-2 d-flex justify-content-center  justify-content-md-end mt-4 pt-4 mb-3">
                            <button type="button" class="btn text-white btn-info">Assign</button>

                            <button type="button" class="btn text-white btn-info">View Notes</button>

                            <button type="button" class="btn text-white btn-danger">Cancel</button>

                        </div>

                        @* <div class="d-grid gap-2 d-flex justify-content-center justify-content-md-end mt-4 pt-4 mb-3">

                <button type="button" id="editBtn" class="btn btn-info text-white EditBtn"
                onclick="enableFields()">Edit
                </button>

                <button type="submit" id="submitBtn" class="btn btn-info text-white EditBtn">Save</button>

                <button type="button" id="cancelBtn" class="btn btn-outline-info EditBtn"
                onclick="disableFields()">Cancel</button>
                </div> *@

                    </div>
                </div>
            </form>
        </div>
   
}




 @* <script>
function disableFields() {
document.querySelectorAll('.dclass').forEach(function (element) {
element.disabled = true;
});
// Hide the submit and cancel buttons, show the edit button
document.getElementById('submitBtn').style.display = 'none';
document.getElementById('cancelBtn').style.display = 'none';
document.getElementById('editBtn').style.display = 'block';
}

function enableFields() {
document.querySelectorAll('.dclass').forEach(function (element) {
element.disabled = false;
});
// Show the submit and cancel buttons, hide the edit button
document.getElementById('submitBtn').style.display = 'block';
document.getElementById('cancelBtn').style.display = 'block';
document.getElementById('editBtn').style.display = 'none';
}
disableFields();
</script>  *@