@model DAL_Data_Access_Layer_.CustomeModel.accessModel;

<style>
    .form-check-input:checked {
        background-color: #0dcaf0 !important;
        border-color: #0dcaf0 !important;
    }
</style>

<div class="container">
    <h4 class="mb-4">Account Access</h4>

    <div class="border rounded shadow p-3">
        <div class="d-flex justify-content-end align-items-center mb-3">

            <button type="button" class="btn btn-outline-dark border-info text-info" onclick="GetCreateAccess()">
                <span class="d-md-block d-none">Create Access</span>
                <span class="d-block d-md-none"><i class="bi bi-plus text-info fs-4"></i></span>

            </button>
        </div>
        <div class="table-responsive d-lg-block d-none">
            <table class="table">
                <thead class="bg-body-tertiary ">
                <thead>
                    <tr class="dark-mode2">
                        <th>Name</th>
                        <th>Account Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                        @foreach (var obj in Model.AccountAccess)
                        {


                        <tr class="align-middle dark-mode2">

                            <td>
                                <span class="document-name">@obj.name</span>
                            </td>
                            <td>@obj.accounttype</td>
                            <td>
                                <button type="button" class="btn btn-outline-dark border-info text-info" onclick="GetEditAccess(@obj.accounttypeid,@obj.roleid)">
                                    Edit
                                </button>
                                <button type="button" class="btn btn-outline-dark border-info text-info" onclick="DeleteAccountAccess(@obj.roleid)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        }

                </tbody>

            </table>
        </div>

        <div class="border rounded shadow d-block d-lg-none">
            <div class="accordion container-fluid p-0" id="accordionPanelsStayOpenExample">
                <table class="w-100">
                    <thead>
                        <tr class="dark-mode2">
                            <th class="d-none"></th>
                            <th class="d-none"></th>
                        </tr>
                    </thead>
                    @{
                        var counter = 1;
                    }
                    <tbody>
                        @foreach (var obj in Model.AccountAccess)
                        {

                            <tr class="d-flex flex-column dark-mode2">
                                <td>
                                    <h2 class="accordion-header" id="flush-heading@(counter)"></h2>

                                    <div class="accordion-button collapsed d-flex flex-column pb-0" data-bs-toggle="collapse"
                                         data-bs-target="#flush-collapse@(counter)" aria-expanded="false"
                                         aria-controls="flush-collapse@(counter)">

                                        <div class="w-100 ">
                                            <span class="fw-bolder">
                                                @obj.name
                                            </span>
                                        </div>
                                        <div class="w-100">
                                            <div class="">
                                                <span class="fw-bolder">Account Type: </span> @obj.accounttype
                                            </div>
                                        </div>

                                    </div>

                                </td>
                                <td>
                                    <div id="flush-collapse@(counter)" class="accordion-collapse collapse"
                                         aria-labelledby="flush-heading@(counter)" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body main-flex pt-2">

                                            <div class="inner-flex d-flex justify-content-between">
                                                <button type="button" class="btn btn-outline-dark border-info text-info" onclick="GetEditAccess(@obj.accounttypeid,@obj.roleid)">
                                                    Edit
                                                </button>
                                                <button type="button" class="btn btn-outline-dark border-info text-info">
                                                    Delete
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            counter++;

                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script>
    function GetCreateAccess() {
        event.preventDefault();
        $.ajax({
            method: "GET",
            url: "/adminDashboard/createAccess",
            success: function (res) {
                $("#content").html(res);
            },
            error: function () {
                alert("Oops!", "Something is Wrong !!!", "error");
            },
        });
    }   


    function GetEditAccess(accounttypeid, roleid) {
        event.preventDefault();
        $.ajax({
            method: "GET",
            url: "/adminDashboard/GetEditAccess",
            data: { accounttypeid: accounttypeid, roleid: roleid },
            success: function (res) {                
                $("#content").html(res);
            },

            error: function () {
                alert("Error");
            },
        });
    }

    function DeleteAccountAccess(roleid) {
        $.ajax({
            method: "POST",
            url: "/adminDashboard/DeleteAccountAccess",
            data: { roleid: roleid },
            success: function (result) {
                access();
                alert("Done")
            },
            error: function () {
                alert("Error");
            },
        });
    }


</script>