@model DAL_Data_Access_Layer_.CustomeModel.adminDashData
<style>
th{
        color: #575757;
        font-size: 14px;
        font-weight: 500;
        background-color: #f0f0f0;
        padding-top: 22px;
        padding-bottom: 22px;
}
</style>


<div class="my-4" id="patients_flex_box">
    <span id="patient_txt">
        Patients <span id="patient_sub">(Unpaid)</span>
    </span>

    <span id="patiens_five-link-mediaquerry" style="display:flex;">
        <a href="#" class="btn btn-info patient_five_button mx-1 " role="button">
            <img src="images/send.svg">
            <span>
                Send link
            </span>
        </a>
        <a href="#" class="btn btn-info patient_five_button  mx-1" role="button">
            <img src="images/admin_profile_pencil.svg">
            <span>
                create request
            </span>
        </a>
        <a href="#" class="btn btn-info patient_five_button  mx-1" role="button">
            <img src="images/admin_export-96.svg">
            <span>
                Export
            </span>
        </a>
        <a href="#" class="btn btn-info patient_five_button  mx-1" role="button">
            <img src="images/admin_export-96.svg">
            <span>
                Export All
            </span>
        </a>
        <a href="#" class="btn btn-info patient_five_button  mx-1" role="button">
            <img src="images/admindashboard_request_diy.svg">
            <span>
                Request DTY support
            </span>
        </a>
    </span>
</div>
<div class="mt-2 mb-2 container-fluid" style="box-shadow: 0px 0px 5px grey;">

    <div class="container-fluid p-0">
        <div id="tablehead-container">

            <div id="tablehead-left">
                <div class="d-md-flex gap-1">
                    <form role="search" class="bg-light d-flex align-items-center border border-rounded rounded mb-2">
                        <!-- <i class="bi bi-search"></i> -->
                        <i type="search" class="fa-solid fa-magnifying-glass px-2" style="color:#adadad"></i>
                        <input class="form-control border-0" id="my-search-input" type="search" placeholder="Search" aria-label="Search">
                    </form>

                    <select class="form-select  mb-2" aria-label="Default select example">
                        <option selected="">All Region</option>
                        <option value="1">Gujarat</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

            </div>
            <span id="tablehead-right">
                <span class="table_head_five" id="all">
                    All
                </span>
                <span class="table_head_five">

                    <span class="patient_circle"></span>
                    <span>
                        Patients
                    </span>
                </span>
                <span class="table_head_five">

                    <span class="family_circle"></span>

                    <span>
                        Family/Friends
                    </span>
                </span>
                <span class="table_head_five">

                    <span class="Bussiness_circle"></span>
                    <span>
                        Bussiness
                    </span>
                </span>
                <span class="table_head_five">

                    <span class="Concierge_circle"></span>

                    <span>
                        Concierge
                    </span>
                </span>
                <span class="table_head_five">

                    <span class="vip_circle"></span>


                    <span>
                        VIP
                    </span>
                </span>
            </span>
        </div>
    </div>

    <div id="table_tabview">
        <div class="container-fluid d-none d-sm-block">
            <table class="table" id="tableDataMainUnpaid">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Physican Name</th>
                        <th scope="col">Date of Service</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Address</th>
                        <th scope="col">Chat with</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.data)
                    {
                        if (item.status == 9)
                        {
                            var bgColor = "He";
                            var role = "hello";

                            @if (item.request_type_id == 1)
                            {
                                bgColor = "#60be5e";
                                role = "patientLayout";
                            }
                            else if (item.request_type_id == 2)
                            {
                                bgColor = "#e69232";
                                role = "familyFriendLayout";
                            }
                            else if (item.request_type_id == 3)
                            {
                                bgColor = "#0b7ebf";

                                role = "conciergeLayout";
                            }
                            else if (item.request_type_id == 4)
                            {
                                bgColor = "#d76879";
                                role = "businessLayout";
                            }


                            <tr class="tablerows @role">
                                <td class="text-white" style="background:@bgColor">
                                    <div class="table_name_email">

                                        @item.first_name, @item.last_name
                                        <a href="">
                                            <img src="images/email.svg">
                                        </a>
                                    </div>
                                </td>
                                <td class="text-white" style="background:@bgColor">@item.phy_name</td>
                                <td class="text-white" style="background:@bgColor">Nov 20, 2023 335h 1m 01m</td>
                                <td class="text-white" style="background:@bgColor">
                                    <div class="table_phone">
                                        <a href="">
                                            <i class="bi bi-telephone   rounded-5   p-1 text-info" style="color:white!important"></i>
                                            @item.mobile_num
                                        </a>
                                    </div>
                                    <div style="color:white">
                                        (Patient)
                                    </div>
                                    @if (item.request_type_id != 1)
                                    {
                                        <div class="table_phone">
                                            <a href="">
                                                <i class="bi bi-telephone   rounded-5   p-1 text-info" style="color:white!important"></i>
                                                @item.requestor_mobile_num
                                            </a>
                                        </div>
                                        <div style="color:white">
                                            (@role)
                                        </div>
                                    }
                                </td>
                                <td class="text-white" style="background:@bgColor">Room Location:101</td>
                                <td class="text-white" style="background:@bgColor">

                                    <div>
                                        <div class="dropdown mb-1">
                                            <button class="btn text-white border border-white py-1 "
                                                    id="chat_with_dropdown1" type="button" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                <img src="images/admin_dashboard_Provider.svg">
                                                <span>
                                                    Dropdown button
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu table_dropdowns">
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <img src="images/coin.svg">
                                                        Action
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <img src="images/coin.svg">
                                                        Action
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <img src="images/coin.svg">
                                                        Action
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown">
                                            <button class="btn text-white border border-white py-1 "
                                                    id="chat_with_dropdown2" type="button" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                <img src="images/admin_dashboard_Provider.svg">
                                                <span>
                                                    Dropdown button
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu table_dropdowns">
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <img src="images/coin.svg">
                                                        Action
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <img src="images/coin.svg">
                                                        Action
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <img src="images/coin.svg">
                                                        Action
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-white" style="background:@bgColor">
                                    <div>
                                        <div class="dropdown">
                                            <button class="btn text-white border border-white py-1 "
                                                    id="chat_with_dropdown2" type="button" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                <span>
                                                    Action
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu table_dropdowns">
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <img src="images/coin.svg">
                                                        Action
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <img src="images/coin.svg">
                                                        Action
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <img src="images/coin.svg">
                                                        Action
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    @{
        var count = 0;
        @foreach (var item in Model.data)
        {
            if (item.status == 9)
            {
                var bgColor = "He";
                var role = "hello";

                @if (item.request_type_id == 1)
                {
                    bgColor = "#60be5e";
                    role = "Patient";
                }
                else if (item.request_type_id == 2)
                {
                    bgColor = "#e69232";
                    role = "FamilyFriend";
                }
                else if (item.request_type_id == 3)
                {
                    bgColor = "#0b7ebf";

                    role = "Concierge";
                }
                else if (item.request_type_id == 4)
                {
                    bgColor = "#d76879";
                    role = "Business";
                }


                <div class="accordion-item mt-3 d-block d-md-none" style="background-color:var(--bs-accordion-active-bg)">

                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#div-@count" aria-expanded="false" aria-controls="flush-collapseOne">
                            <span class="d-flex flex-column" style="width:100%">
                                <span class="d-flex justify-content-between">
                                    <span class="mb-3">@item.first_name @item.last_name</span>
                                    <span>
                                        <div class="d-flex align-items-center">
                                            <div class="pe-2">@role</div>
                                            <i class="fa-solid fa-circle" style="color:@bgColor"></i>
                                        </div>
                                    </span>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mb-3">
                                    <span>
                                        @item.street,<br>
                                        @item.city
                                    </span>
                                    <span class="btn btn-outline-primary" style="font-size:12px;cursor:pointer">Map Location</span>

                                </span>
                                <span class="d-flex align-items-center mt">

                                    <i class="fa-regular fa-clock pe-2 " style="color:#2acbcb"></i> <span>Wait Time: </span>
                                </span>
                            </span>

                        </button>
                    </h2>
                    <div id="div-@count" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body mt-1">
                            <i class="fa-regular fa-envelope"></i> Email: @item.email
                        </div>
                        <div class="accordion-body mt-1">
                            <i class="fa-solid fa-phone"></i> Patient: @item.mobile_num
                        </div>
                        <div class="accordion-body mt-1">
                            <i class="fa-solid fa-phone"></i> Date of Service: @item.created_date
                        </div>
                        <div class="accordion-body mt-1">
                            <i class="fa-regular fa-user"></i> Physician: @item.phy_name
                        </div>
                        <div class="accordion-body">
                            <span class="d-flex flex-column">
                               
                                <span class="d-flex justify-content-between mt-1">
                                    <button class="accBtn me-2" style="background-color:green!important;width:150px;color:white;border-radius:35px;">View Note</button>
                                    <button class=" accBtn" style="background-color:red!important;width:150px;color:white;border-radius:35px;">View Uploads</button>
                                </span>
                                <span class="d-flex justify-content-between mt-1">
                                    <button class=" accBtn" style="background-color:green!important;width:150px;color:white;border-radius:35px;">Email</button>
                                </span>
                               
                            </span>
                        </div>



                    </div>
                </div>
                count++;
            }
        }

    }

</div>


<script>


    function allLayout() {
        let a = document.getElementsByClassName("patientLayout");

        for (let i = 0; i < a.length; i++) {
            a[i].style.display = "table-row";
        }

        let b = document.getElementsByClassName("familyFriendLayout");

        for (let i = 0; i < b.length; i++) {
            b[i].style.display = "table-row";
        }

        let c = document.getElementsByClassName("conciergeLayout");

        for (let i = 0; i < c.length; i++) {
            c[i].style.display = "table-row";
        }


        let d = document.getElementsByClassName("businessLayout");


        for (let i = 0; i < d.length; i++) {
            d[i].style.display = "table-row";
        }
    }

    function patientLayout() {
        let b = document.getElementsByClassName("familyFriendLayout");
        let c = document.getElementsByClassName("conciergeLayout");
        let d = document.getElementsByClassName("businessLayout");

        for (let i = 0; i < b.length; i++) {
            b[i].style.display = "none";
        }

        for (let i = 0; i < c.length; i++) {
            c[i].style.display = "none";
        }

        for (let i = 0; i < d.length; i++) {
            d[i].style.display = "none";
        }


        let a = document.getElementsByClassName("patientLayout");

        for (let i = 0; i < a.length; i++) {
            a[i].style.display = "table-row";
        }


    }


    function familyFriendLayout() {
        let a = document.getElementsByClassName("patientLayout");
        let c = document.getElementsByClassName("conciergeLayout");
        let d = document.getElementsByClassName("businessLayout");

        for (let i = 0; i < a.length; i++) {
            a[i].style.display = "none";
        }

        for (let i = 0; i < c.length; i++) {
            c[i].style.display = "none";
        }

        for (let i = 0; i < d.length; i++) {
            d[i].style.display = "none";
        }

        let b = document.getElementsByClassName("familyFriendLayout");

        for (let i = 0; i < b.length; i++) {
            b[i].style.display = "table-row";
        }

    }


    function conciergeLayout() {
        let a = document.getElementsByClassName("patientLayout");
        let b = document.getElementsByClassName("familyFriendLayout");
        let d = document.getElementsByClassName("businessLayout");

        for (let i = 0; i < a.length; i++) {
            a[i].style.display = "none";
        }

        for (let i = 0; i < b.length; i++) {
            b[i].style.display = "none";
        }

        for (let i = 0; i < d.length; i++) {
            d[i].style.display = "none";
        }


        let c = document.getElementsByClassName("conciergeLayout");

        for (let i = 0; i < c.length; i++) {
            c[i].style.display = "table-row";
        }

    }

    function businessLayout() {

        let a = document.getElementsByClassName("patientLayout");
        let b = document.getElementsByClassName("familyFriendLayout");
        let c = document.getElementsByClassName("conciergeLayout");

        for (let i = 0; i < a.length; i++) {
            a[i].style.display = "none";
        }

        for (let i = 0; i < b.length; i++) {
            b[i].style.display = "none";
        }

        for (let i = 0; i < c.length; i++) {
            c[i].style.display = "none";
        }



        let d = document.getElementsByClassName("businessLayout");


        for (let i = 0; i < d.length; i++) {
            d[i].style.display = "table-row";
        }


    }

    $(document).ready(function () {

        $('#tableDataMainUnpaid').DataTable({
            "initComplete": function (settings, json) {

                $('#my-search-input-unpaid').val(settings.oPreviousSearch.sSearch);

                $('#my-search-input-unpaid').on('keyup', function () {
                    var searchValue = $(this).val();
                    settings.oPreviousSearch.sSearch = searchValue;
                    settings.oApi._fnReDraw(settings);
                });
            },
            "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
            "pageLength": 5,
            language: {
                oPaginate: {
                    sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                    sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'

                }
            }
        });
        // $('.dataTables_length').hide();
        $('.dataTables_filter').hide();
    });






</script>















