@model DAL_Data_Access_Layer_.CustomeModel.adminDashData


<form method="post" asp-action="transferCase" asp-controller="adminDashboard">
    <div class="modal fade " id="newRequestModalThree" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header " style="background-color:#0dcaf0">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Transfer Request</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close" style="color:white"></button>
                </div>

                 <input value="@Model.transferRequest.reqid" asp-for="@Model.transferRequest.reqid" type="hidden" />
                 <input value="@Model.transferRequest.phy_id_main" id="transferModalPhyId" type="hidden" />
@*                 <input value="@Model.closeCase.status" asp-for="@Model.closeCase.status" type="hidden" /> 
 *@                <div class="modal-body ">

                    <input hidden class="reqId" type="text" value="" id="id" name="id" />
                    <div class="d-flex align-items-center mb-4">
                        <div class="">to transfer this request,search and select another Physician. </div>
                         
                        <p class="name mb-0" style="font-size:18px;color:#0dcaf0;margin-left:8px;"></p>
                    </div>
                    <select id="regionDropdown" class="form-select mb-2" aria-label="Default select example" asp-for="@Model.transferRequest.regionId">
                        <option name="reason" id="reason" disabled selected>
                            Narrow search by region
                        </option>
                        @foreach (var item in Model.transferRequest.regions)
                        {
                            <option value="@item.Regionid">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.transferRequest.regionId" class="text-danger"></span>

                    <select id="doctorDropdown" class="form-select mb-2" aria-label="Default select example" asp-for="transferRequest.phy_id_main">
                        <option name="reason" id="reason" disabled selected>Select Physician</option>
                        @*  @foreach (var item in Model.casetagNote)
                        {
                        <option value="@item.reqid">@item.reasons</option>
                        } *@
                    </select>
                    <span asp-validation-for="transferRequest.phy_id_main" class="text-danger"></span>

                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="note" style="height: 100px" asp-for="@Model.transferRequest.description"></textarea>
                        <label for="floatingTextarea2" class="input">Description</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-info text-white" type="submit">confirm</button>
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</form>


        <partial name="_ValidationScriptsPartial" />
  

<script>
    $("#regionDropdown").on("change", function () {
        doctorsName($(this).val());
    })

    function doctorsName(reg_id) {

        var phyId = $("#transferModalPhyId").val();

        let action = "/adminDashboard" + "/" + "GetDoctors"
        event.preventDefault();
        $.ajax({
            url: action, 
            type: 'GET',
            data: { regionId: reg_id },
            success: function (data) {
                console.log("data_phy" + data.dataPhyId)
                $('#doctorDropdown').html("<option>" + "Select Physician" + "</option>");
                for (var i = 0; i < data.dataid.length; i++) {
                    if (data.dataPhyId[i] == phyId) {
                        $("#doctorDropdown").append('<option disabled value = "' + data.dataPhyId[i] + '" >' + data.dataid[i] + '</option>')
                    }else{
                     $("#doctorDropdown").append('<option value = "' + data.dataPhyId[i] + '" >' + data.dataid[i] + '</option>')
                    }
                }

            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }
   
</script>