@model DAL_Data_Access_Layer_.CustomeModel.adminDashData

<style>
    th {
        color: #575757;
        font-size: 14px;
        font-weight: 500;
        background-color: #f0f0f0;
        padding-top: 22px;
        padding-bottom: 22px;
    }
</style>

<div class="tab-pane fade" id="ToClose-tab-pane" role="tabpanel" aria-labelledby="ToClose-tab" tabindex="0" >
    <div class="my-4" id="patients_flex_box">
        <span id="patient_txt">
            Patients <span id="patient_sub">(Close)</span>
        </span>

        <span id="patiens_five-link-mediaquerry" style="display:flex;">
            <button onclick="newSendLinkToClose()" class="btn btn-info patient_five_button mx-1 " role="button">
                <i class="bi bi-send"></i>
                <span>
                    Send link
                </span>
            </button>
            <button onclick="createRequestToClose()" class="btn btn-info patient_five_button  mx-1" role="button">
                <i class="bi bi-pencil-square"></i>
                <span>
                    create request
                </span>
            </button>
            @using (Html.BeginForm("Export", "AdminDashboard", FormMethod.Post))
            {
                <input type="hidden" name="GridHtml" />
                <button type="submit" value="Export" class="btn btn-info patient_five_button  mx-1" onclick="exportBtnToClose()">
                    <i class="bi bi-arrow-up-right me-1"></i><span class="d-none d-sm-inline-block">Export</span>
                </button>

            }
            <button class="btn btn-info patient_five_button  mx-1" role="button" onclick="window.location.href='@Url.Action("ExportAll","AdminDashboard")'">
                <i class="bi bi-box-arrow-up-right"></i>
                <span>
                    Export All
                </span>
            </button>
            <button onclick="requestSupportToClose()" class="btn btn-info patient_five_button  mx-1" role="button">
                <i class="bi bi-person-plus"></i>
                <span>
                    Request DTY support
                </span>
            </button>
        </span>
    </div>
    <div class="mt-2 mb-2 container-fluid" style="box-shadow: 0px 0px 5px grey;">

        <div class="container-fluid p-0">
            <div id="tablehead-container">

                <div id="tablehead-left">
                    <div class="d-md-flex gap-1">
                        <form role="search" class="bg-light d-flex align-items-center border border-rounded rounded mb-2">
                            <!-- <i class="bi bi-search"></i> -->
                            <i type="search" class="fa-solid fa-magnifying-glass px-2" style="color:#adadad;position:absolute;"></i>
                            <input class="form-control border-0" id="my-search-input-toclose" type="search" placeholder="Search" aria-label="Search">
                        </form>

                        <select id="regionFilterToClose" onchange="regionClickToClose()" class="form-select  mb-2" aria-label="Default select example" >
                            <option id="reason" disabled selected="">
                                Select Regions
                            </option>
                            <option value="0">
                                All Regions
                            </option>
                            @foreach (var item in Model._RegionTable)
                            {
                                <option value="@item.Regionid">@item.Name</option>
                            }
                        </select>
                    </div>

                </div>
                <span id="tablehead-right">
                    <span class="table_head_five" id="all" type="button" onclick="tableFilter5(0)" style="cursor:pointer">
                        All
                    </span>
                    <span class="table_head_five" onclick="tableFilter5(1)" style="cursor:pointer">

                        <span class="patient_circle"></span>
                        <span>
                            Patients
                        </span>
                    </span>
                    <span class="table_head_five" onclick="tableFilter5(2)" style="cursor:pointer">

                        <span class="family_circle"></span>

                        <span>
                            Family/Friends
                        </span>
                    </span>
                    <span class="table_head_five" onclick="tableFilter5(4)" style="cursor:pointer">

                        <span class="Bussiness_circle"></span>
                        <span>
                            Bussiness
                        </span>
                    </span>
                    <span class="table_head_five" onclick="tableFilter5(3)" style="cursor:pointer">

                        <span class="Concierge_circle"></span>

                        <span>
                            Concierge
                        </span>
                    </span>
                </span>
            </div>
        </div>

        <div id="table_tabview">
            <div class="table-responsive d-none d-sm-block" id="tableParentDivToClose">
                @if (Model.data.Count() > 0){
                <table class="table" id="tableDataMainToClose">
                    <thead>
                        <tr>
                            <th scope="col" class="dark-mode2 d-none">Req Id</th>
                            <th scope="col" class="dark-mode2 ">Name</th>
                            <th scope="col" class="dark-mode2 ">Date Of Birth</th>
                            <th scope="col" class="dark-mode2 ">Region</th>
                            <th scope="col" class="dark-mode2 ">Physician Name</th>
                            <th scope="col" class="dark-mode2 ">Date Of Service</th>
                            <th scope="col" class="dark-mode2 ">Address</th>
                            <th scope="col" class="dark-mode2 ">Notes</th>
                            <th scope="col" class="dark-mode2 ">Chat With</th>
                            <th scope="col" class="dark-mode2 ">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.data)
                        {
                            
                                var bgColor = "He";
                                var role = "hello";

                                @if (item.request_type_id == 1)
                                {
                                    bgColor = "#60be5e";
                                    role = "Patient";
                                }
                                else if (item.request_type_id == 2)
                                {
                                    bgColor = "#e69232";
                                    role = "FamilyFriend";
                                }
                                else if (item.request_type_id == 3)
                                {
                                    bgColor = "#0b7ebf";
                                    role = "Concierge";
                                }
                                else if (item.request_type_id == 4)
                                {
                                    bgColor = "#d76879";
                                    role = "Business";
                                }


                                <tr class="tablerows @role">
                                    <td class="text-white d-none" style="background:@bgColor">@item.reqid</td>
                                    <td class="text-white" style="background:@bgColor">
                                        <div class="table_name_email">

                                            @item.first_name, @item.last_name
                                            <a href="">
                                                <i class="bi bi-envelope me-3  rounded-5 border p-1 text-info" style="color:white!important"></i>
                                            </a>
                                        </div>
                                    </td>
                                <td class="text-white" style="background:@bgColor">@item.fulldateofbirth</td>
                                    <td class="text-white" style="background:@bgColor">@item.region</td>
                                    <td class="text-white" style="background:@bgColor">@item.phy_name</td>
                                <td class="text-white" style="background:@bgColor">@item.created_date</td>
                                    <td class="text-white" style="background:@bgColor">@item.address</td>
                                    <td class="text-white" style="background:@bgColor">
                                        @if (item.notes.Count() != 0)
                                        {
                                            @if (item.notes.Last().Transtophysicianid != null)
                                            {
                                                <span>Admin Transfer To </span>
                                                @item.notes.Last().Transtophysicianid
                                                <span> On @item.created_date</span>
                                            }
                                            else
                                            {
                                                <span>-</span>
                                            }
                                        }
                                    </td>
                                    <td style="background:@bgColor; ">
                                        @if (item.notes.Count() != 0 && item.phy_id != null)
                                        {
                                            @if (item.notes.Last().Transtophysicianid != null)
                                            {
                                                <div style="display:flex;">
                                                    <div class="dropdown mb-1">
                                                        <button class="btn text-white border border-white py-2 navbar-toggler" type="button" onclick="ChatWith(@item.reqid,@item.phy_id,1)"
                                                                id="chat_with_dropdown2" aria-expanded="false">
                                                            <i class="fa-solid fa-user-doctor me-2 d-none d-sm-inline"></i>
                                                            <span>
                                                                Provider
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <span>-</span>
                                            }
                                        }
                                        <div style="display:flex;margin-bottom:5px;">
                                            <div class="dropdown">
                                                <button class="btn text-white border border-white py-2 navbar-toggler" type="button" onclick="ChatWith(@item.reqid,0,1)"
                                                        id="chat_with_dropdown2" aria-expanded="false">
                                                    <i class="fa-solid fa-user-doctor me-2 d-none d-sm-inline"></i>
                                                    <span>
                                                        Patient
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        @if (item.notes.Count() != 0 && item.phy_id != null)
                                        {
                                            @if (item.notes.Last().Transtophysicianid != null)
                                            {
                                                <div style="display:flex;">
                                                    <div class="dropdown mb-1">
                                                        <button class="btn text-white border border-white py-2 navbar-toggler" type="button" onclick="ChatWith(@item.reqid,@item.phy_id,1,5)"
                                                                id="chat_with_dropdown2" aria-expanded="false">
                                                            <i class="fa-solid fa-user-doctor me-2 d-none d-sm-inline"></i>
                                                            <span>
                                                                Group Chat
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>

                                            }
                                            else
                                            {
                                                <span>-</span>
                                            }
                                        }
                                    </td>
                                    <td class="text-white" style="background:@bgColor">
                                        <div>
                                            <div class="dropdown">
                                                <button class="btn text-white border border-white py-1 "
                                                        id="chat_with_dropdown2" type="button" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                    <span>
                                                        Action
                                                    </span>
                                                </button>
                                                <ul class="dropdown-menu table_dropdowns">
                                                    <li>
                                                        <button class="dropdown-item" onclick="toCloseViewCase(@item.reqid)">
                                                            <i class="fa-brands fa-searchengin"></i>
                                                            View Case
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button onclick="toCloseViewUploads(@item.reqid)" class="dropdown-item" href="#">
                                                            <i class="fa-solid fa-file-arrow-up"></i>
                                                            View Uploads
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="dropdown-item" onclick="toCloseViewNote(@item.reqid)">
                                                            <i class="fa-solid fa-book"></i>
                                                            View Notes
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="dropdown-item" onclick="toCloseOrders(@item.reqid)">
                                                            <i class="fa-solid fa-file-circle-check"></i>
                                                            Orders
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="dropdown-item" onclick="toCloseCloseCase(@item.reqid)">
                                                            <i class="fa-regular fa-circle-xmark"></i>
                                                            Close Case
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="dropdown-item">
                                                            <i class="fa-regular fa-file-lines"></i>
                                                            Doctors Note
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="dropdown-item" onclick="clearCaseToClose(@item.reqid)">
                                                            <i class="fa-regular fa-circle-xmark"></i>
                                                            Clear Case
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="dropdown-item" onclick="toCloseEncounter(@item.reqid)">
                                                            <i class="fa-regular fa-file-lines"></i>
                                                            Encounter
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                           
                        }
                    </tbody>
                </table>
                }else{
                    <table class="table">
                        <thead id="table-heading">
                            <tr>
                                <th scope="col" class="dark-mode2 ">Name</th>
                                <th scope="col" class="dark-mode2 ">Date Of Birth</th>
                                <th scope="col" class="dark-mode2 ">Region</th>
                                <th scope="col" class="dark-mode2 ">Physician Name</th>
                                <th scope="col" class="dark-mode2 ">Date Of Service</th>
                                <th scope="col" class="dark-mode2 ">Address</th>
                                <th scope="col" class="dark-mode2 ">Notes</th>
                                <th scope="col" class="dark-mode2 ">Chat With</th>
                                <th scope="col" class="dark-mode2 ">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="dark-mode2">
                                <td colspan="9" style="text-align:center;">No Request Found</td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>

        <div class="accordion-item mt-3 d-block d-md-none" style="background-color:var(--bs-accordion-active-bg)">
            @if (Model.data.Count() > 0)
            {
                <table class="table" id="tableDataMainToCloseTwo" width="100%">

                    <thead>
                        <tr>
                            <th class="d-none">

                            </th>
                            <th class="d-none">

                            </th>
                        </tr>
                    </thead>

                    @{
                        var count = 0;

                    }
                    @foreach (var item in Model.data)
                    {
                        if (item.status == 3 || item.status == 7 || item.status == 8)
                        {
                            var bgColor = "He";
                            var role = "hello";

                            @if (item.request_type_id == 1)
                            {
                                bgColor = "#60be5e";
                                role = "Patient";
                            }
                            else if (item.request_type_id == 2)
                            {
                                bgColor = "#e69232";
                                role = "FamilyFriend";
                            }
                            else if (item.request_type_id == 3)
                            {
                                bgColor = "#0b7ebf";

                                role = "Concierge";
                            }
                            else if (item.request_type_id == 4)
                            {
                                bgColor = "#d76879";
                                role = "Business";
                            }


                            <tr style="display: flex;flex-direction: column" class="@role dark-mode4">
                                <td>
                                <h2 class="accordion-header">
                                        <button class="accordion-button collapsed dark-mode4" type="button" data-bs-toggle="collapse" data-bs-target="#div-@count" aria-expanded="false" aria-controls="flush-collapseOne">
                                        <span class="d-flex flex-column" style="width:100%">
                                            <span class="d-flex justify-content-between">
                                                <span class="mb-3">@item.first_name @item.last_name</span>
                                                <span>
                                                    <div class="d-flex align-items-center">
                                                        <div class="pe-2">@role</div>
                                                        <i class="fa-solid fa-circle" style="color:@bgColor"></i>
                                                    </div>
                                                </span>
                                            </span>
                                            <span class="d-flex align-items-center justify-content-between mb-3">
                                                <span>
                                                    @item.street,<br>
                                                    @item.city
                                                </span>
                                                <span class="btn btn-outline-primary" style="font-size:12px;cursor:pointer">Map Location</span>

                                            </span>
                                            <span class="d-flex align-items-center mt">

                                                <i class="fa-regular fa-clock pe-2 " style="color:#2acbcb"></i> <span>Wait Time: </span>
                                            </span>
                                        </span>

                                    </button>
                                </h2>
                            </td>
                            <td style="z-index:5">
                                <div id="div-@count" style="position:relative" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body mt-1">
                                        <i class="fa-regular fa-calendar-days"></i> Date of Birth: @item.str_month @item.int_date, @item.int_year
                                    </div>
                                    <div class="accordion-body mt-1">
                                        <i class="fa-regular fa-envelope"></i> Email: @item.email
                                    </div>
                                    <div class="accordion-body mt-1">
                                        <i class="fa-solid fa-phone"></i> Transfer: "Note"
                                    </div>
                                    <div class="accordion-body mt-1">
                                        <i class="fa-solid fa-phone"></i> Date of Service: @item.created_date
                                    </div>
                                    <div class="accordion-body mt-1">
                                        <i class="fa-regular fa-user"></i> Physician: @item.phy_name
                                    </div>
                                    <div class="accordion-body mt-1">
                                        <i class="fa-regular fa-user"></i> Region: @item.region
                                    </div>
                                    <div class="accordion-body">
                                        <span class="d-flex flex-column">
                                            <span class="d-flex justify-content-between mt-1">
                                                <button class=" accBtn me-2" style="background-color:purple!important;width:150px;color:white;border-radius:35px;" onclick="toCloseCloseCase(@item.reqid)">Close Case</button>
                                                <button class=" accBtn" style="background-color:red!important;width:150px;color:white;border-radius:35px;" onclick="toCloseViewNote(@item.reqid)">View Notes</button>
                                            </span>
                                            <span class="d-flex justify-content-between mt-1">
                                                <button class="accBtn me-2" style="background-color:green!important;width:150px;color:white;border-radius:35px;">Doctors Note</button>
                                                <button class=" accBtn" style="background-color:red!important;width:150px;color:white;border-radius:35px;" onclick="toCloseViewUploads(@item.reqid)">View Uploads</button>
                                            </span>
                                            <span class="d-flex justify-content-between mt-1">
                                                <button class=" accBtn" style="background-color:green!important;width:150px;color:white;border-radius:35px;" onclick="toCloseEncounter(@item.reqid)">Enacounter</button>
                                                <button class=" accBtn" style="background-color:green!important;width:150px;color:white;border-radius:35px;" onclick="clearCaseToClose(@item.reqid)">Clear Case</button>
                                            </span>
                                            <span class="d-flex justify-content-between mt-1">
                                                <button class=" accBtn" style="background-color:green!important;width:150px;color:white;border-radius:35px;">Email</button>
                                            </span>
                                                <button class="accBtn me-2" style="width:115px;border-radius:35px;position:absolute;top:-36px;right:0px;" onclick="toCloseViewCase(@item.reqid)">View Case</button>
                                        </span>
                                    </div>



                                </div>
                            </td>
                        </tr>

                        count++;
                    }
                }

                </table>
            }
            else
            {
                <table class="table">
                    <thead id="table-heading">
                        <tr>
                            <th scope="col" class="dark-mode2 ">Name</th>
                            <th scope="col" class="dark-mode2 ">Date Of Birth</th>
                            <th scope="col" class="dark-mode2 ">Region</th>
                            <th scope="col" class="dark-mode2 ">Physician Name</th>
                            <th scope="col" class="dark-mode2 ">Date Of Service</th>
                            <th scope="col" class="dark-mode2 ">Address</th>
                            <th scope="col" class="dark-mode2 ">Notes</th>
                            <th scope="col" class="dark-mode2 ">Chat With</th>
                            <th scope="col" class="dark-mode2 ">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="9" style="text-align:center;">No Request Found</td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>


    </div>

    <div id="sendLinkToClosePopUp">
    </div>

    <div id="requestSupportToClosePopUp">
    </div>

    <div id="clearCaseToClose">
    </div>

    <div id="partialViewForChat">
    </div>

</div>



<script>


    function tableFilter5(typeId) {
        $.ajax({
            method: "GET",
            url: "/adminDashboard/tableRecords5",
            traditional: true,
            contentType: "application/json",
            data: { arr: [3,7,8], typeId: typeId },
            success: function (result) {
                $("#myTabContent1").html(result);
                $("#ToClose-tab-pane").addClass("show active");
            },

            error: function () {
                toastr.error("Error To Load Partial View");
            },
        });
    }

    $(document).ready(function () {

        $('#tableDataMainToClose').DataTable({
            "initComplete": function (settings, json) {

                $('#my-search-input-toclose').val(settings.oPreviousSearch.sSearch);

                $('#my-search-input-toclose').on('keyup', function () {
                    var searchValue = $(this).val();
                    settings.oPreviousSearch.sSearch = searchValue;
                    settings.oApi._fnReDraw(settings);
                });
            },
            "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
            "pageLength": 5,
            "order": [[0, "desc"]],
            "columns": [{ "searchable": false },{ "searchable": true }, { "searchable": false }, { "searchable": false }, { "searchable": false }, { "searchable": false }, { "searchable": false }, { "searchable": false }, { "searchable": false }, { "searchable": false }],
            language: {
                oPaginate: {
                    sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                    sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'

                }
            }
        });
        // $('.dataTables_length').hide();
        $('.dataTables_filter').hide();
    }); 
    
    $(document).ready(function () {

        $('#tableDataMainToCloseTwo').DataTable({
            "initComplete": function (settings, json) {

                $('#my-search-input-toclose').val(settings.oPreviousSearch.sSearch);

                $('#my-search-input-toclose').on('keyup', function () {
                    var searchValue = $(this).val();
                    settings.oPreviousSearch.sSearch = searchValue;
                    settings.oApi._fnReDraw(settings);
                });
            },
            "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
            "pageLength": 5,
            language: {
                oPaginate: {
                    sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                    sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'

                }
            }
        });
        // $('.dataTables_length').hide();
        $('.dataTables_filter').hide();
    });



    function viewCaseClick(a) {

        console.log(a)
        let action = "/adminDashboard" + "/" + "newViewCase"
        $.ajax({
            url: action,
            type: 'GET',
            data: { req: a },
            success: function (result) {
                $('#content').html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }


    function newSendLinkToClose() {
        let action = "/adminDashboard" + "/" + "sendLinkPopUp"
        $.ajax({
            url: action,
            type: 'GET',
            success: function (result) {
                $('#sendLinkToClosePopUp').html(result);
                $('#sendLinkPopUpOne').modal('show');

            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }


    function requestSupportToClose() {
        console.log("hi")
        let action = "/adminDashboard" + "/" + "requestSupportPopUp"
        event.preventDefault();
        $.ajax({
            url: action,
            type: 'GET',
            success: function (result) {
                console.log(result)
                $('#requestSupportToClosePopUp').html(result);
                $('#requestSupportPopUpOne').modal('show');

            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }



    function createRequestToClose() {
        $.ajax({
            url: "/adminDashboard/createRequest",
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }

    //*************************************************************Editing View************************************/


    function toCloseViewNote(reqid) {
        console.log(reqid)
        $.ajax({
            url: "/adminDashboard/newViewNote",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }

    function toCloseViewCase(reqid) {
        console.log(reqid)
        $.ajax({
            url: "/adminDashboard/newViewCase",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }

    function toCloseViewUploads(reqid) {
        console.log(reqid)
        $.ajax({
            url: "/adminDashboard/pendingViewUploadMain",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }

    function toCloseOrders(reqid) {
        console.log(reqid)
        $.ajax({
            url: "/adminDashboard/activeOrders",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }

    function toCloseEncounter(reqid) {
        console.log(reqid)
        $.ajax({
            url: "/adminDashboard/concludeEncounter",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }
    
    function toCloseCloseCase(reqid) {
        console.log(reqid)
        $.ajax({
            url: "/adminDashboard/toCloseCloseCase",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }

    function clearCaseToClose(reqid) {
        let action = "/adminDashboard" + "/" + "clearCase"
        event.preventDefault();
        $.ajax({
            url: action,
            type: 'GET',
            data: { req: reqid },
            success: function (result) {
                console.log(result)
                $('#clearCaseToClose').html(result);
                $('#newRequestModalFour').modal('show');

            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }

    function exportBtnToClose() {
        // Get the HTML content of the table
        var htmlContent = $("#tableParentDivToClose").html();
        console.log(htmlContent)

        // Set the modified HTML content to the input value
        $("input[name='GridHtml']").val(htmlContent);
    }

    $(document).ready(function () {
        $("#my-search-input-toclose").bind("keypress", function (e) {
            if (e.keyCode == 13) {
                return false;
            }
        });
    });

    function regionClickToClose() {
        var value = $("#regionFilterToClose").val();
        console.log(value);

        $.ajax({
            url: "/adminDashboard/RegionFilter5",
            data: { arr: [3,7,8], regionId: value },
            traditional: true,
            contentType: "application/json",
            type: 'GET',
            success: function (result) {
                $("#myTabContent1").html(result);
                $("#ToClose-tab-pane").addClass("show active");
                $("#regionFilterToClose").val(value);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            },
        });

    }

    var REQUESTID = 0;
    var ADMINID = 0;
    var PROVIDERID = 0;
    function ChatWith(x, y, z) {
        REQUESTID = x;
        ADMINID = z;
        PROVIDERID = y;
        chatafter();
    }
    function chatafter() {
        $.ajax({
            method: "GET",
            url: "/Home/Chat",
            data: {
                RequestId: REQUESTID,
                AdminID: ADMINID,
                ProviderId: PROVIDERID,

            },
            success: function (data) {
                console.log(data);
                $('#partialViewForChat').html(data);
                $('#offcanvasRight').offcanvas("show");
            },
            error: function () {
                console.log("Function Fail");
            }

        });
    }

</script>



