@using System.Collections;
@model DAL_Data_Access_Layer_.CustomeModel.adminDashData;<style>    .form-check-input:checked {        background-color: #0dcaf0 !important;        border-color: #0dcaf0 !important;    }</style>

@functions {
    public string statusName(short status)
    {
        switch (status)
        {
            case 1: return "Active";
            case 2: return "Pending";
            case 3: return "Not Active";
            default: return "Active";
        }
    }
}<div class="container">    <h4 class="mb-4">Provider Information</h4>    <div class="border rounded shadow p-3">        <div class="d-md-flex justify-content-between align-items-center mb-3">            <form role="search" class="d-flex align-items-center border border-rounded rounded border-info mb-3">                <i type="search" class="fa-solid fa-magnifying-glass px-2" style="color:#adadad;position:absolute;    "></i>                <select id="providerRegionMain" class="form-select border-0 regionDropdown ps-4" aria-label="Default select example" onchange="providerRegion()" >                    <option selected>All Region</option>                    @foreach (var obj in Model._RegionTable.ToList())                    {                    <option value="@obj.Regionid">                    @obj.Name                    </option>                    }                </select>            </form>            <div class="d-flex justify-content-center  mb-3">

                <button type="button" class="btn btn-info text-light " onclick="createProviderAccount()">Create Provider Account</button>            </div>        </div>        <div class="table-responsive d-lg-block d-none">            <table class="table">                <thead class="bg-body-tertiary ">                <thead>
                    <tr class="dark-mode2">                        <th class="">Stop Notification </th>                        <th>Provider Name <span><i class="bi bi-arrow-up"></i></span></th>                        <th>Role</th>                        <th>On Call Status</th>                        <th>Status</th>                        <th>Actions</th>                    </tr>                </thead>                <tbody>                        @{
                            var notification = new BitArray(1);
                            notification[0] = true;                        }                        @foreach (var item in Model._provider._physician)
                        {                                           @if(item.Isdeleted == null)
                            {
                            <tr class="align-middle dark-mode2">                                <td class="ps-5">                                    @* <input type="hidden" asp-for="@item.Physicianid" value="@item.Physicianid"/> *@                                    @foreach(var item2 in Model._provider._notification)
                                    {
                                        if(item.Physicianid == item2.Physicianid)
                                        {                                            <input type="checkbox" name="Mark" class="checkbox fileCheckbox px-4 providerCheckBox" onchange="checkBox(@item.Physicianid)" 
                                            @if (item2.Isnotificationstopped[0] == notification[0])
                                            {
                                            <text>checked</text>                                                
                                            }                                        />                                         }
                                    }                                                                   </td>                                <td>                                    <span class="document-name mx-2">@item.Firstname</span>                                </td>                                <td>
                                    @foreach(var item3 in Model._provider._roles)
                                    {
                                        if (item.Roleid == item3.Roleid)
                                        {
                                            @item3.Name
                                        }
                                    }
                                </td>
                                <td>
                                    @foreach (var item4 in Model._provider._shift)
                                    {
                                        if (item.Physicianid == item4.Physicianid)
                                        {
                                            if (item4.Startdate.Day >= Model._provider.DateTime.Day && item4.Startdate.Month >= Model._provider.DateTime.Month && item4.Startdate.Year >= Model._provider.DateTime.Year)
                                            {
                                                if (item4.Startdate.Day == Model._provider.DateTime.Day && item4.Startdate.Month == Model._provider.DateTime.Month && item4.Startdate.Year == Model._provider.DateTime.Year)
                                                {
                                                    foreach(var item5 in Model._provider._shiftDetails)
                                                    {
                                                        if(item4.Shiftid == item5.Shiftid)
                                                        {
                                                                if (item5.Starttime.ToTimeSpan() > Model._provider.DateTime.TimeOfDay)
                                                                {
                                                                    <span>Available</span>
                                                                    break;
                                                                }
                                                                else
                                                                {
                                                                    <span>Unavailable</span>
                                                                    break;
                                                                }
                                                            }   
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span>Available</span>
                                                        break;
                                                    }
                                                }
                                                else
                                                {
                                                    <span>Unavailable</span>
                                                    break;
                                                }
                                        }
                                        
                                    }
                                </td>

                            <td>@statusName((short)item.Status)</td>                                 <td>                                <button type="button" class="btn btn-outline-dark border-info text-info" onclick="contactProvider(@item.Physicianid)">                                        Contact                                    </button>
                                <button type="button" class="btn btn-outline-dark border-info text-info" onclick="editProvider(@item.Physicianid)">                                        Edit                                    </button>                                </td>                            </tr>                            }                        }                </tbody>            </table>        </div>        <div class="border rounded shadow d-block d-lg-none">            <div class="accordion container-fluid p-0" id="accordionPanelsStayOpenExample">                <table class="w-100">                    <thead>
                        <tr class="dark-mode2">                            <th class="d-none"></th>                            <th class="d-none"></th>                        </tr>                    </thead>                    @{                        var counter = 1;                    }                    <tbody>


                        <tr class="d-flex flex-column dark-mode2">                                <td>                                    <h2 class="accordion-header" id="flush-heading@(counter)"></h2>                                    <div class="accordion-button collapsed d-flex flex-column pb-0" data-bs-toggle="collapse" data-bs-target="#flush-collapse@(counter)" aria-expanded="false" aria-controls="flush-collapse@(counter)">                                        <div class="w-100 ">                                            <input type="checkbox" name="Mark" class="checkbox fileCheckbox me-2" onchange="allCheck()" />                                            <span class="fw-bolder">                                                Shiv Santoki                                            </span>                                        </div>                                        <div class="w-100">                                            <div class="">                                                <span class="fw-bolder">On Call Status</span>: Un Available                                            </div>                                        </div>                                    </div>                                </td>                                <td>                                    <div id="flush-collapse@(counter)" class="accordion-collapse collapse" aria-labelledby="flush-heading@(counter)" data-bs-parent="#accordionFlushExample">                                        <div class="accordion-body main-flex pt-0">                                            <div class="inner-flex pt-1">                                                <span class="fw-bolder">Role</span>: Physician                                            </div>                                            <div class="inner-flex pb-2">                                                <span class="fw-bolder">Status</span>: Active                                            </div>                                            <div class="inner-flex d-flex justify-content-between">                                                <button type="button" class="btn btn-outline-dark border-info text-info">                                                    Contact                                                </button>                                                <button type="button" class="btn btn-outline-dark border-info text-info">                                                    Edit                                                </button>                                            </div>                                        </div>                                    </div>                                </td>                            </tr>                                                                    </tbody>                </table>            </div>        </div>    </div></div><div id="providerContactModal">
</div><div id="providerEditModal">
</div><script>    function contactProvider(phyId) {        $.ajax({
            url: "/adminDashboard/providerContactModal",
            type: 'GET',            data: { phyId: phyId },                success: function (result) {                $("#providerContactModal").html(result);                $('#ContactProviderModal').modal('show');            },
            error: function () {
                toastr.error("Error To Load Partial View");
            },
        });
    }    function checkBox(phyId) {        $.ajax({
            url: "/adminDashboard/providerCheckBox",
            data: { phyID: phyId },
            type: 'GET',
            success: function (result) {                if (result.indicate == true) {                    toastr.success("Notification Stopped");                } else {                    toastr.success("Notification Started");                }            },
            error: function () {
                toastr.error("Error To Load Partial View");
            },
        });
    }

    function editProvider(phyId) {        let action = "/adminDashboard/providerEdit"        $.ajax({            url: action,            type: 'GET',
            data: { phyId: phyId , flag : 1 },            success: function (result) {                $('#content').html(result);            },            error: function () {                alert('Error aa loading partial view');            }        });    }

    function createProviderAccount() {        $.ajax({
            url: "/adminDashboard/createProviderAccount",
            type: 'GET',
            success: function (result) {
                $('#content').html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            },
        });
    }


    function providerRegion(){
        var abc = $("#providerRegionMain").val();

        $.ajax({
            url: "/adminDashboard/provider",
            type: 'GET',
            data: { regionId: abc },
            success: function (result) {
                $("#content").html(result);
                document.getElementById("Scheduling-tab").classList.remove("active");
                $("#providerRegionMain").val(abc);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            },
        });
    }</script>                                            