@model DAL_Data_Access_Layer_.CustomeModel.adminDashData;

@* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" /> *@

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
@* <link href="~/css/adminDashboard.css" rel="stylesheet" type="text/css" /> *@


<div class="tab-pane fade show active " id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
     tabindex="0">
    <div class="container-fluid">
        <div class="row nav" id="myTab" role="tablist">
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4 mb-3 nav-item" role="presentation" >
                <div onclick="newTab()" style="border-bottom:none!important;" class="border rounded p-1 p-sm-3 active new" id="new-tab" data-bs-toggle="tab"
                     data-bs-target="#new-tab-pane" type="button" role="tab" aria-controls="new-tab-pane"
                     aria-selected="true">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-person-plus me-2 d-none d-sm-inline" style="font-size: 1.5em;"></i>
                        <h6 class="px-1 m-0">New</h6>
                    </div>
                    <div class="ps-1 pt-3">
                        <h4>
                            @Model._countMain.count1
                        </h4>
                    </div>
                </div>
                <div class="triangle " id="triangle1"></div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 mb-3 col-4" role="presentation">
                <div onclick="pendingTab()" class="border rounded p-1 p-sm-3 Pending" id="Pending-tab" data-bs-toggle="tab"
                     data-bs-target="#Pending-tab-pane" type="button" role="tab" aria-controls="Pending-tab-pane"
                     aria-selected="false">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-person me-2 d-none d-sm-inline" style="font-size: 1.5em;"></i>
                        <h6 class="px-1 m-0">Pending</h6>
                    </div>
                    <div class="ps-1 pt-3">
                        <h4>
                            @Model._countMain.count2
                        </h4>
                    </div>
                </div>
                <div class="triangle " id="triangle2"></div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 mb-3 col-4" role="presentation" >
                <div onclick="activeTab()" class="border rounded p-1 p-sm-3 Active" id="Active-tab" data-bs-toggle="tab"
                     data-bs-target="#Active-tab-pane" type="button" role="tab" aria-controls="Active-tab-pane"
                     aria-selected="false">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-check2-circle me-2 d-none d-sm-inline" style="font-size: 1.5em;"></i>
                        <h6 class="px-1 m-0">Active</h6>
                    </div>
                    <div class="ps-1 pt-3">
                        <h4>
                            @Model._countMain.count3
                        </h4>
                    </div>
                </div>
                <div class="triangle " id="triangle3"></div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 mb-3 col-4" role="presentation" >
                <div onclick="concludeTab()" class="border rounded p-1 p-sm-3 Conclude" id="Conclude-tab" data-bs-toggle="tab"
                     data-bs-target="#Conclude-tab-pane" type="button" role="tab" aria-controls="Conclude-tab-pane"
                     aria-selected="false">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-clock-history me-2 d-none d-sm-inline" style="font-size: 1.5em;"></i>
                        <h6 class="px-1 m-0">Conclude</h6>
                    </div>
                    <div class="ps-1 pt-3">
                        <h4>
                            @Model._countMain.count4
                        </h4>
                    </div>
                </div>
                <div class="triangle " id="triangle4"></div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 mb-3 col-4" role="presentation" >
                <div onclick="toCloseTab()" class="border rounded p-1 p-sm-3 ToClose" id="ToClose-tab" data-bs-toggle="tab"
                     data-bs-target="#ToClose-tab-pane" type="button" role="tab" aria-controls="ToClose-tab-pane"
                     aria-selected="false">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-person-x me-2 d-none d-sm-inline" style="font-size: 1.5em;"></i>
                        <h6 class="px-1 m-0">To Close</h6>
                    </div>
                    <div class="ps-1 pt-3">
                        <h4>
                            @Model._countMain.count5
                        </h4>
                    </div>
                </div>
                <div class="triangle " id="triangle5"></div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 mb-3 col-4" role="presentation" >
                <div onclick="unpaidTab()" class="border rounded p-1 p-sm-3 Unpaid" id="Unpaid-tab" data-bs-toggle="tab"
                     data-bs-target="#Unpaid-tab-pane" type="button" role="tab" aria-controls="Unpaid-tab-pane"
                     aria-selected="false">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-currency-dollar  me-2 d-none d-sm-inline" style="font-size: 1.5em;"></i>
                        <h6 class="px-1 m-0">Unpaid</h6>
                    </div>
                    <div class="ps-1 pt-3">
                        <h4>
                            @Model._countMain.count6
                        </h4>
                    </div>
                </div>
                <div class="triangle " id="triangle6"></div>
            </div>
        </div>

        

        <!-- ----------------------------------------------------------table head ------------------------------------>


        
           

        <div class="tab-content" id="myTabContent1">
            
        </div>
    </div>
</div>
@* </div>
</div> *@
<script>
    var actionTwo = "/adminDashboard" + "/" + "newTab"
    $.ajax({
        url: actionTwo,
        type: 'GET',
        traditional: true,
        contentType: "application/json",
        data: { arr: [1] },
        success: function (result) {
            $('#myTabContent1').html(result);
        },
        error: function () {
            alert('Error aa loading partial view');
        }
    });


    function newTab() {
        var action = "/adminDashboard" + "/" + "newTab"
        $.ajax({
            url: action,
            type: 'GET',
            traditional: true,
            contentType: "application/json",
            data: {arr : [1]},
            success: function (result) {
                $('#myTabContent1').html(result);
                $("#New-tab-pane").addClass("show active")
            },
            error: function () {
                alert('Error aa loading partial view');
            }
        });
    }
    
    
    function pendingTab() {
        var action = "/adminDashboard" + "/" + "pendingTab"
        $.ajax({
            url: action,
            type: 'GET',
            traditional: true,
            contentType: "application/json",
            data: { arr: [2] },
            success: function (result) {
                $('#myTabContent1').html(result);
                $("#Pending-tab-pane").addClass("show active")
            },
            error: function () {
                alert('Error aa loading partial view');
            }
        });
    }
    
    
    function activeTab() {
        var action = "/adminDashboard" + "/" + "activeTab"
        $.ajax({
            url: action,
            type: 'GET',
            traditional: true,
            contentType: "application/json",
            data: { arr: [4,5] },
            success: function (result) {
                $('#myTabContent1').html(result);
                $("#Active-tab-pane").addClass("show active")
            },
            error: function () {
                alert('Error aa loading partial view');
            }
        });
    }
    
    
    function concludeTab() {
        var action = "/adminDashboard" + "/" + "concludeTab"
        $.ajax({
            url: action,
            type: 'GET',
            traditional: true,
            contentType: "application/json",
            data: { arr: [6] },
            success: function (result) {
                $('#myTabContent1').html(result);
                $("#Conclude-tab-pane").addClass("show active");
            },
            error: function () {
                alert('Error aa loading partial view');
            }
        });
    }
    
    function toCloseTab() {
        var action = "/adminDashboard" + "/" + "toCloseTab"
        $.ajax({
            url: action,
            type: 'GET',
            traditional: true,
            contentType: "application/json",
            data: { arr: [3,7,8] },
            success: function (result) {
                $('#myTabContent1').html(result);
                $("#ToClose-tab-pane").addClass("show active");
            },
            error: function () {
                alert('Error aa loading partial view');
            }
        });
    }
    
    
    function unpaidTab() {
        var action = "/adminDashboard" + "/" + "unpaidTab"
        $.ajax({
            url: action,
            type: 'GET',
            traditional: true,
            contentType: "application/json",
            data: { arr: [9] },
            success: function (result) {
                $('#myTabContent1').html(result);
                $("#Unpaid-tab-pane").addClass("show active");
            },
            error: function () {
                alert('Error aa loading partial view');
            }
        });
    }

    document.getElementById("new-tab").addEventListener('click', function () {
        if (document.getElementById("new-tab").classList.contains("active")) {
            document.getElementById("triangle1").style.display = "block"
            document.getElementById("triangle2").style.display = "none"
            document.getElementById("triangle3").style.display = "none"
            document.getElementById("triangle4").style.display = "none"
            document.getElementById("triangle5").style.display = "none"
            document.getElementById("triangle6").style.display = "none"
            document.getElementById("Pending-tab").classList.remove("active")
            document.getElementById("Active-tab").classList.remove("active")
            document.getElementById("Conclude-tab").classList.remove("active")
            document.getElementById("ToClose-tab").classList.remove("active")
            document.getElementById("Unpaid-tab").classList.remove("active")
        }
    })
    document.getElementById("Pending-tab").addEventListener('click', function () {
        if (document.getElementById("Pending-tab").classList.contains("active")) {
            document.getElementById("triangle2").style.display = "block"
            document.getElementById("triangle1").style.display = "none"
            document.getElementById("triangle3").style.display = "none"
            document.getElementById("triangle4").style.display = "none"
            document.getElementById("triangle5").style.display = "none"
            document.getElementById("triangle6").style.display = "none"
            document.getElementById("new-tab").classList.remove("active")
            document.getElementById("Active-tab").classList.remove("active")
            document.getElementById("Conclude-tab").classList.remove("active")
            document.getElementById("ToClose-tab").classList.remove("active")
            document.getElementById("Unpaid-tab").classList.remove("active")
        }
    })
    document.getElementById("Active-tab").addEventListener('click', function () {
        if (document.getElementById("Active-tab").classList.contains("active")) {
            document.getElementById("triangle3").style.display = "block"
            document.getElementById("triangle2").style.display = "none"
            document.getElementById("triangle1").style.display = "none"
            document.getElementById("triangle4").style.display = "none"
            document.getElementById("triangle5").style.display = "none"
            document.getElementById("triangle6").style.display = "none"
            document.getElementById("Pending-tab").classList.remove("active")
            document.getElementById("new-tab").classList.remove("active")
            document.getElementById("Conclude-tab").classList.remove("active")
            document.getElementById("ToClose-tab").classList.remove("active")
            document.getElementById("Unpaid-tab").classList.remove("active")
        }
    })
    document.getElementById("Conclude-tab").addEventListener('click', function () {
        if (document.getElementById("Conclude-tab").classList.contains("active")) {
            document.getElementById("triangle4").style.display = "block"
            document.getElementById("triangle2").style.display = "none"
            document.getElementById("triangle3").style.display = "none"
            document.getElementById("triangle1").style.display = "none"
            document.getElementById("triangle5").style.display = "none"
            document.getElementById("triangle6").style.display = "none"
            document.getElementById("Pending-tab").classList.remove("active")
            document.getElementById("Active-tab").classList.remove("active")
            document.getElementById("new-tab").classList.remove("active")
            document.getElementById("ToClose-tab").classList.remove("active")
            document.getElementById("Unpaid-tab").classList.remove("active")
        }
    })
    document.getElementById("ToClose-tab").addEventListener('click', function () {
        if (document.getElementById("ToClose-tab").classList.contains("active")) {
            document.getElementById("triangle5").style.display = "block"
            document.getElementById("triangle2").style.display = "none"
            document.getElementById("triangle3").style.display = "none"
            document.getElementById("triangle4").style.display = "none"
            document.getElementById("triangle1").style.display = "none"
            document.getElementById("triangle6").style.display = "none"
            document.getElementById("Pending-tab").classList.remove("active")
            document.getElementById("Active-tab").classList.remove("active")
            document.getElementById("Conclude-tab").classList.remove("active")
            document.getElementById("new-tab").classList.remove("active")
            document.getElementById("Unpaid-tab").classList.remove("active")
        }
    })
    document.getElementById("Unpaid-tab").addEventListener('click', function () {
        if (document.getElementById("Unpaid-tab").classList.contains("active")) {
            document.getElementById("triangle6").style.display = "block"
            document.getElementById("triangle2").style.display = "none"
            document.getElementById("triangle3").style.display = "none"
            document.getElementById("triangle4").style.display = "none"
            document.getElementById("triangle5").style.display = "none"
            document.getElementById("triangle1").style.display = "none"
            document.getElementById("Pending-tab").classList.remove("active")
            document.getElementById("Active-tab").classList.remove("active")
            document.getElementById("Conclude-tab").classList.remove("active")
            document.getElementById("ToClose-tab").classList.remove("active")
            document.getElementById("new-tab").classList.remove("active")
        }
    })
        
</script>