@model DAL_Data_Access_Layer_.CustomeModel.MonthShiftModal;
Model.DayShiftModal
<div class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <table style="width:100%;z-index:5">
        <thead class="dayshiftheader">
            <tr style="background-color: lightgray;">
                <th class="p-3">SUN</th>
                <th>MON</th>
                <th>TUE</th>
                <th>WED</th>
                <th>THU</th>
                <th>FRI</th>
                <th>SAT</th>
            </tr>
        </thead>
        <tbody style="font-size:larger;font-weight:400;" id="shifttable">
            @for (int i = 0; i < Model.daysLoop; i += 7)
            {
                <tr>
                    @for (int j = 0; j < 7; j++)
                    {
                        var dayNumber = i + j + 1 - Model.startDayIndex;

                        <td>
                            @if (dayNumber > 0 && dayNumber <= Model.daysInMonth)
                            {
                                <div class="d-flex justify-content-center" style="background-color:#cfcff9;">@dayNumber</div>
                                {
                                    var count = 0;
                                    foreach (var item in Model.shiftDetailsmodals)
                                    {

                                        if (item.Shiftdate.Day == dayNumber && count < 5)
                                        {

                                            var bgcolor = "";

                                            if (item.Status == 1)
                                            {
                                                bgcolor = "lightpink";
                                            }
                                            else if (item.Status == 2)
                                            {
                                                bgcolor = "lightgreen";
                                            }


                                            <div style="overflow-y:auto;">
                                                <button class="w-100 h-100 border-0" style="background-color:@bgcolor;" onclick="providersModal({actionType:'shiftdetails',shiftdetailsid : '@item.Shiftdetailid'})">
                                                    @item.Starttime - @item.Endtime Physician / @item.PhysicianName, @item.Abberaviation
                                                </button>
                                            </div>
                                            count = count + 1;
                                        }
                                        if (count > 4)
                                        {
                                            <div style="overflow-y:auto;">
                                                <button class="w-100 h-100 border-0" style="background-color:mediumpurple;" onclick="providersModal({actionType:'moreshifts'})">
                                                    View More Shifts ...
                                                </button>
                                            </div>
                                            count = count + 1;
                                            break;
                                        }
                                    }
                                    for (var k = count; k < 5; k++)
                                    {
                                        <div></div>
                                    }
                                }
                            }
                            else
                            {
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            }
                        </td>
                    }
                </tr>
            }



        </tbody>
    </table>

</div>
<script>
    function providersModal(DataObject) {

        DataObject.datestring = date.toISOString();

        $.ajax({
            url: '/adminDashboard/OpenScheduledModal',
            type: 'Post',
            data: DataObject,
            success: function (data) {
                $('#schedulingModals').html(data);
                $('#ViewScheduledModal').modal('show');
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>