@model DAL_Data_Access_Layer_.CustomeModel.WeekShiftModal;

<div class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <table style="width:100%;z-index:5">
        <thead class="dayshiftheader">
            <tr style="background-color: lightgray;">
                <th class="text-center">STAFF</th>
                <th class="text-center">SUN</th>
                <th class="text-center">MON</th>
                <th class="text-center">TUE</th>
                <th class="text-center">WED</th>
                <th class="text-center">THU</th>
                <th class="text-center">FRI</th>
                <th class="text-center">SAT</th>

            </tr>
        </thead>
        <tbody style="font-size:larger;font-weight:400;" class="shiftweektable">
            <tr>
                <td class="text-center">Coverege</td>
                <td class="text-center" style="background-color:#cfcff9;">0/24</td>
                <td class="text-center" style="background-color:#cfcff9;">0/24</td>
                <td class="text-center" style="background-color:#cfcff9;">0/24</td>
                <td class="text-center" style="background-color:#cfcff9;">0/24</td>
                <td class="text-center" style="background-color:#cfcff9;">0/24</td>
                <td class="text-center" style="background-color:#cfcff9;">0/24</td>
                <td class="text-center" style="background-color:#cfcff9;">0/24</td>
            </tr>
            @{
                foreach (var phy in Model.Physicians)
                {
                    <tr class="text-center">
                        <td class="p-2">@phy.Firstname @phy.Lastname</td>

                        @{
                            var list =Model.shiftDetailsmodals.Where(u => u.Physicianid == phy.Physicianid).ToList();

                            foreach (var date in Model.datelist)
                            {
                                var flag = 0;

                                foreach (var shift in list)
                                {
                                    flag = 1;
                                    var bgcolor = "";

                                    if (shift.Status == 1)
                                    {
                                        bgcolor = "lightpink";
                                    }
                                    else if (shift.Status == 2)
                                    {
                                        bgcolor = "lightgreen";
                                    }
                                    if (shift.Shiftdate.Day == date)
                                    {
                                        <td style="background-color:@bgcolor" onclick="providersModal({actionType:'shiftdetails',shiftdetailsid : '@shift.Shiftdetailid'})">
                                            <small>

                                                @shift.Starttime - @shift.Endtime Physician / @shift.PhysicianName, @shift.Abberaviation
                                            </small>
                                        </td>
                                        break;
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                                if (flag == 0)
                                {
                                    <td></td>
                                }
                            }
                        }

                    </tr>
                }
            }



        </tbody>
    </table>

</div>
<script>

</script>