@model IEnumerable<HelloDocMVC.DataModels.Admin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regionid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Altphone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modifieddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isdeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roleid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aspnetuser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedbyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedbyNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regionid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altphone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modifieddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isdeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roleid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aspnetuser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedbyNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedbyNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Adminid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Adminid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Adminid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
