@model DAL_Data_Access_Layer_.CustomeModel.adminDashData

@inject IHttpContextAccessor Accessor
@using Microsoft.AspNetCore.Http


@{
    ViewData["Title"] = "View Case";
}
@{
    var Status = @Accessor.HttpContext.Session.GetInt32("requestIdView");
}
<link href="~/css/adminDashViewCase.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />

@* 
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> *@



@foreach (var item in Model.data)
{

    var bgColor = "He";
    var role = "hello";

    @if (item.request_type_id == 1)
    {
        bgColor = "#60be5e";
        role = "Patient";
    }
    else if (item.request_type_id == 2)
    {
        bgColor = "#e69232";
        role = "FamilyFriend";
    }
    else if (item.request_type_id == 3)
    {
        bgColor = "#0b7ebf";

        role = "Concierge";
    }
    else if (item.request_type_id == 4)
    {
        bgColor = "#d76879";
        role = "Business";
    }

    @functions {
    public string statusName(short status)
    {
        switch (status)
        {
            case 1: return "Unassigned";
            case 2: return "Accepted";
            case 3: return "Cancelled";
            case 4: return "MDEnRoute";
            case 5: return "MDOnSite";
            case 6: return "Conclude";
            case 7: return "Cancelled By Patient";
            case 8: return "Closed";
            case 9: return "Unpaid";
            case 10: return "Clear";
            default: return "Unknown";
        }
    }
}


    <div class="container">
        <div class=" mt-5 d-flex justify-content-between align-items-center">
            <h4> @statusName((short)item.status) Request<span class="badge  rounded-5 Reqtyp" style="background:@bgColor">@role</span></h4>

            @if(Model.data[0].flagId == 2)
            {
                <button onclick="records()"
                        class="btn shadow  btn-outline-secondary border-info text-info px-3 ">
                    <i class="fa-solid fa-angle-left"></i> Back
                </button>
            }
            else
            {
                <button onclick="location.href = '@Url.Action("adminDashboard","adminDashboard")'"
                        class="btn shadow  btn-outline-secondary border-info text-info px-3 ">
                    <i class="fa-solid fa-angle-left"></i> Back
                </button>
            }
            
        </div>
        <form action="" class="shadow border rounded my-3" method="post">
            <div class="mx-3 my-4 ">
                <div class="mt-3">
                    <h4 class="ms-auto me-auto mb-4">Patient Information</h4>

                    <h6 style="font-size: 14px">Confirmation Number</h6>
                    <p class="text-info fs-5 mb-3">@item.cnf_number</p>

                    <div class="row">
                        <div class=" col-12 form-floating mb-3 ">
                            <textarea class="form-control h-100 dclass dark-mode2" id="floatingInput" placeholder="Textarea" rows="3" value="@item.notes"
                                      disabled></textarea>
                            <label for="floatingInput" class="text-wrap ms-2">Patient Notes</label>
                        </div>
                    </div>
                    <hr />
                    <div class="mt-1">
                        <div class="row">

                            <div class="form-floating mb-3 col-12 col-sm-6">
                                <input type="text" class="form-control dclass dark-mode2" id="floatingInput" placeholder="John" value="@item.first_name"
                                       required disabled>
                                <label for="floatingInput" class="ms-2 ">First Name</label>
                            </div>

                            <div class="form-floating mb-3 col-12 col-sm-6">
                                <input type="text" class="form-control dclass dark-mode2" value="@item.last_name" id="floatingInput" placeholder="Wick"
                                       disabled>
                                <label for="floatingInput" class="ms-2 ">Last Name</label>
                            </div>

                            <div class="form-floating mb-3 col-12 col-sm-6">
                                <input type="date" class="form-control dclass dark-mode2" id="floatingInput" value="@item.fulldateofbirth" placeholder="02-10-2002"
                                       disabled>
                                <label for="floatingInput" class="ms-2 ">Date of Birth</label>
                            </div>

                            <div class="form-floating mb-3 col-12 col-sm-5">
                                <input type="tel" class="phone form-control dclass dark-mode2" id="floatingInput" value="@item.mobile_num"
                                       placeholder="1234567890" disabled>
                            </div>

                            <div class="form-floating mb-3 col-12 col-sm-1 ">
                                <button type="button" class="dclass btn btn-outline-dark border-info p-3 text-info w-100 d-flex justify-content-center align-items-center" style="height: 100%;">
                                    <i class="fa-solid fa-phone" style="font-size:1.2em;"></i>
                                </button>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="form-floating mb-3 col-12 col-sm-6">
                            <input type="email" class="form-control emailInp dclass dark-mode2" id="floatingInput1" value="@item.email"
                                   mailto:placeholder="test@google.com" disabled>
                            <label for="floatingInput" class="ms-2 ">Email</label>
                        </div>
                        @*
                    <div
                    class="form-floating mb-3 col-12 col-sm-1 d-flex align-items-center justify-content-center mx-2">

                    <button type="button" id="editBtn" class="btn btn-outline-info EditBtn px-4 py-3"
                    onclick="enableFields()">Edit</button>
                    <button type="submit" id="submitBtn"
                    class="btn btn-outline-info EditBtn px-4 py-3">Save</button>
                    <button type="button" id="cancelBtn" class="btn btn-outline-info EditBtn px-4 py-3"
                    onclick="disableFields()">Cancel</button>
                    </div> *@

                    </div>

                    <div class="row">

                        <h4 class="ms-auto me-auto">Location Information</h4>


                        <div class="form-floating mb-3 col-12 col-sm-6">
                            <input type="text" class="form-control dclass dark-mode2" id="floatingInput" placeholder="Maryland" value="@item.region"
                                   disabled>
                            <label for="floatingInput" class="ms-2 ">Region</label>
                        </div>

                        <div class="form-floating mb-3 col-12 col-sm-5">
                            <input type="text" class="form-control dclass dark-mode2" id="floatingInput" placeholder="Maryland" value="@item.street @item.city , @item.state"
                                   disabled>
                            <label for="floatingInput" class="ms-2 ">Business Name / Address</label>
                        </div>


                        <div class="form-floating mb-3 col-12 col-sm-1 ">
                            <a href="https://www.google.com/maps/search/?api=1&query= @item.street @item.city , @item.state"
                               ;" target="_blank" onclick="map_init()" type="button" class="dclass btn btn-outline-dark border-info p-3 text-info w-100 dark-mode2 d-flex justify-content-center align-items-center" style="height: 100%;">
                                <i class="fa-solid fa-location-dot" style="font-size:1.5em"></i>
                            </a>
                        </div>

                        <div class="form-floating mb-3 col-12 col-sm-6">
                            <input type="text" class="form-control dclass dark-mode2" id="floatingInput" placeholder="007" value="" disabled>
                            <label for="floatingInput" class="ms-2 ">Room #</label>
                        </div>

                    </div>
                    <div class="d-grid gap-2 d-flex justify-content-center  justify-content-md-end mt-4 pt-4 mb-3">
                        @if (item.phy_id == null && item.status == 1)
                        {
                            <button type="button" class="btn text-white btn-info" onclick="assignCase(@item.reqid)">Assign</button>
                        }


                        <button type="button" class="btn text-white btn-info" onclick="viewCaseViewNote(@item.reqid)">View Notes</button>

                        @if (item.phy_id == null && item.status == 1)
                        {
                            <button type="button" class="btn text-white btn-danger" onclick="viewCaseCancel(@item.reqid)">Cancel</button>
                        }

                       

                    </div>

                    @* <div class="d-grid gap-2 d-flex justify-content-center justify-content-md-end mt-4 pt-4 mb-3">

                <button type="button" id="editBtn" class="btn btn-info text-white EditBtn"
                onclick="enableFields()">Edit
                </button>

                <button type="submit" id="submitBtn" class="btn btn-info text-white EditBtn">Save</button>

                <button type="button" id="cancelBtn" class="btn btn-outline-info EditBtn"
                onclick="disableFields()">Cancel</button>
                </div> *@

                </div>
            </div>
        </form>
    </div>

}

<div id="ViewCaseCancelNote">

</div>

<script>
    function viewCaseCancel(reqid) {

        console.log("CLicked")

        let action = "/adminDashboard" + "/" + "cancelCase"
        event.preventDefault();
        $.ajax({
            url: action,
            type: 'GET',
            data: { req: reqid },
            success: function (result) {
                $('#ViewCaseCancelNote').html(result);
                $('#newRequestModal').modal('show');
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }




    function assignCase(reqid){
        let action = "/adminDashboard" + "/" + "assignCase"
        event.preventDefault();
        $.ajax({
            url: action,
            type: 'GET',
            data: { req: reqid },
            success: function (result) {
                $('#ViewCaseCancelNote').html(result);
                $('#newRequestModalTwo').modal('show');

            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }


    function viewCaseViewNote(reqid) {
        console.log(reqid)
        $.ajax({
            url: "/adminDashboard/newViewNote",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $("#content").html(result);
            },
            error: function () {
                toastr.error("Error To Load Partial View");
            }
        });
    }

    function adminMain() {
        location.reload();
        let action = "/adminDashboard/adminDashboard"
        $.ajax({
            url: action,
            type: 'GET',

            error: function () {
                alert('Error aa loading partial view');
            }
        });
    }

    function myProfile() {
        let action = "/adminDashboard" + "/" + "myProfile"
        $.ajax({
            url: action,
            type: 'GET',
            success: function (result) {

                $('#content').html(result);
            },
            error: function (e) {
                console.log(e);
                alert('Error   vv loading partial view');
            }
        });
    }


</script>


