@model DAL_Data_Access_Layer_.CustomeModel.adminDashData
@{
    ViewData["Title"] = "View Notes";
}
<style>
    .foot {
        position: absolute;
    }
</style>




<div class="container">
    <div class="d-flex justify-content-between align-items-center mx-3 mt-5">
        <h4>Notes</h4>

        <a asp-controller="adminDashboard" asp-action="adminDashboard"
           class="btn shadow  btn-outline-secondary border-info text-info px-3 ">
            <i class="fa-solid fa-angle-left"></i> Back
        </a>
    </div>



    <form method="post" asp-action="newViewNote" asp-controller="adminDashboard">
        <input value="@Model._viewNote.reqid" asp-for="@Model._viewNote.reqid" type="hidden" />
        <div class="m-3">
            <div class="row mt-1">
                <div class="form-floating mb-3 col-12 col-sm-6 ">
                    <div class=" border shadow rounded d-flex">
                        <div class="m-3">
                            <i class="bi bi-arrow-left-right fs-5"></i>
                        </div>
                        <div class="mt-2">
                            <h6> Transfer Notes</h6>
                            <small class="text-secondary">TransferNotes</small>
                        </div>
                    </div>
                </div>

                <div class="form-floating mb-3 col-12 col-sm-6 ">
                    <div class=" border shadow rounded d-flex">
                        <div class="m-3">
                            <i class="fa-solid fa-user-doctor fs-5"></i>
                        </div>
                        <div class="mt-2">
                            <h6> Physician Notes</h6>
                            <small class="text-secondary">@Model._viewNote.PhysicianNotes</small>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mt-2">
                <div class="form-floating mb-3 col-12 col-sm-6 ">
                    <div class="border shadow rounded d-flex">

                        <div class="m-3">
                            <i class="bi bi-person fs-5"></i>

                        </div>
                        <div class="mt-2">
                            <h6> Admin notes</h6>
                            @{
                                if (Model._viewNote.AdminNotes != null)
                                {
                                    <small class="text-secondary">
                                        @Model._viewNote.AdminNotes
                                    </small>
                                }
                                else
                                {
                                    <small class="text-secondary">
                                        -
                                    </small>
                                }
                            }
                        </div>
                    </div>

                </div>

                @if (Model._viewNote.cashtagId != 0)
                {
                    <div class="form-floating mb-3 col-12 col-sm-6 ">
                        <div class="border shadow rounded d-flex">

                            <div class="m-3">
                                <i class="bi bi-person fs-5"></i>

                            </div>
                            <div class="mt-2">
                                <h6> Admin Cancellation notes</h6>
                                @{
                                    if (Model._viewNote.aditional_notes != null)
                                    {
                                        <small class="text-secondary">
                                            @Model._viewNote.aditional_notes
                                        </small>
                                    }
                                    else
                                    {
                                        <small class="text-secondary">
                                            -
                                        </small>
                                    }
                                }
                            </div>
                        </div>

                    </div>
                }
                

            </div>


            <div class="border shadow rounded mt-3">
                <div class="row m-3 mx-0 mx-sm-1">
                    <div class=" col-12 form-floating mb-3 ">
                        <textarea class="form-control h-100 dclass" id="floatingInput" placeholder="Textarea" rows="5" asp-for="@Model._viewNote.AdminNotes"></textarea>
                        <label for="floatingInput" class="text-wrap ms-2">Admin Notes</label>
                    </div>
                </div>
                <div class="d-grid gap-2 d-flex justify-content-center  justify-content-md-end m-4 pt-4 ">

                    <button type="submit" class="btn text-white btn-info">Save Changes</button>


                </div>
            </div>


        </div>

    </form>



</div>



